pr

{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzDataLake_staging":{"type":"string"},"SNK_AZ_CCM_D_API_SQLSVR_UKS":{"type":"string"},"SRC_DMT_SQL":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Ingestion_Customer_Pipeline_V1_Master')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Lookup the pipeline table to get isAlreadyRunning value","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT\n    PipelineId\nFROM\n    dbo.DataFactoryPipeline\nWHERE\n    PipelineName = '@{pipeline().Pipeline}'\n    AND IsAlreadyRunning = 0","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"Ingestion_Snk_Dataset_V1_Pipelines","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Check the record against current pipeline","type":"IfCondition","dependsOn":[{"activity":"Lookup the pipeline table to get isAlreadyRunning value","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals(activity('Lookup the pipeline table to get isAlreadyRunning value').output.count, 1)\n","type":"Expression"},"ifFalseActivities":[{"name":"There is no record available in pipeline table","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LogMessageNoRowAgainstCurrentPipeline","value":{"value":"@concat('Either the pipeline is already running or there is no record available for ', pipeline().Pipeline)","type":"Expression"}}}],"ifTrueActivities":[{"name":"Set the pipelineId value","type":"SetVariable","dependsOn":[],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"PipelineId","value":{"value":"@activity('Lookup the pipeline table to get isAlreadyRunning value').output.value[0].PipelineId","type":"Expression"}}},{"name":"Lookup the pipeline log table to fetch lastrundatetime","type":"Lookup","dependsOn":[{"activity":"Set the pipelineId value","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"SELECT\n    ISNULL(\n        (\n            SELECT\n                TOP 1 [StartDateTime]\n            FROM\n                [dbo].[DataFactoryPipelineLog]\n            WHERE\n                PipelineId = '@{variables('PipelineId')}'\n                AND ErrorDescription IS NULL\n            ORDER BY\n                LogId DESC\n        ),\n        '1900-01-01'\n    ) AS LastRunDateTime","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"Ingestion_Snk_Dataset_V1_PipelineLogs","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"Error fetching the data from pipelinelog table","type":"SetVariable","dependsOn":[{"activity":"Lookup the pipeline log table to fetch lastrundatetime","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LogExceptionPipelineLogLookup","value":{"value":"\"There is an error while fetching the data from pipelinelog table\"","type":"Expression"}}},{"name":"Copy the customer table data","type":"Copy","dependsOn":[{"activity":"Read the last inserted logId","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"SELECT\n   TOP 10 \n   [cnsmr_id],\n   [cnsmr_nm_cmmrcl_txt],\n   [cnsmr_brth_dt],\n   [cnsmr_email_txt],\n   [cnsmr_email_cnfrmtn_dt],\n   [cnsmr_nm_frst_txt],\n   [wrkgrp_id],\n   [cnsmr_email_vldty_cd],\n   [cnsmr_nm_lst_txt],\n   [cnsmr_nm_mddl_txt],\n   [cnsmr_nm_prfx_txt],\n   [upsrt_dttm],\n   0 as IsMaster,\n   1 as IsActive,\n   'b0b585d6-df85-4144-87dc-0b9bf73d9a15' as CustomerGroupId  \nFROM\n   [DBO].[CNSMR]\nWHERE\n    [upsrt_dttm] > CAST(\n        '@{activity('Lookup the pipeline log table to fetch lastrundatetime').output.value[0].LastRunDateTime}' AS DATETIME2)","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"AzureSqlSink","writeBehavior":"upsert","upsertSettings":{"useTempDB":true,"keys":["CustomerId"]},"sqlWriterUseTableLock":false,"disableMetricsCollection":false},"enableStaging":true,"stagingSettings":{"linkedServiceName":{"referenceName":"[parameters('AzDataLake_staging')]","type":"LinkedServiceReference"},"path":"staging"},"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"cnsmr_id","type":"Int64","physicalType":"bigint"},"sink":{"name":"CustomerId","type":"Int64","physicalType":"bigint"}},{"source":{"name":"CustomerGroupId"},"sink":{"name":"CustomerGroupId","type":"Guid","physicalType":"uniqueidentifier"}},{"source":{"name":"cnsmr_nm_prfx_txt","type":"String","physicalType":"varchar"},"sink":{"name":"Title","type":"String","physicalType":"varchar"}},{"source":{"name":"cnsmr_nm_frst_txt","type":"String","physicalType":"varchar"},"sink":{"name":"FirstName","type":"String","physicalType":"varchar"}},{"source":{"name":"cnsmr_nm_lst_txt","type":"String","physicalType":"varchar"},"sink":{"name":"LastName","type":"String","physicalType":"varchar"}},{"source":{"name":"cnsmr_nm_mddl_txt","type":"String","physicalType":"varchar"},"sink":{"name":"MiddleName","type":"String","physicalType":"varchar"}},{"source":{"name":"cnsmr_nm_cmmrcl_txt","type":"String","physicalType":"varchar"},"sink":{"name":"CommercialName","type":"String","physicalType":"varchar"}},{"source":{"name":"cnsmr_brth_dt","type":"DateTime","physicalType":"datetime"},"sink":{"name":"DateofBirth","type":"DateTime","physicalType":"date"}},{"source":{"name":"cnsmr_email_txt","type":"String","physicalType":"varchar"},"sink":{"name":"Email","type":"String","physicalType":"varchar"}},{"source":{"name":"cnsmr_email_cnfrmtn_dt","type":"DateTime","physicalType":"datetime"},"sink":{"name":"EmailConfirmedDate","type":"DateTime","physicalType":"datetime2"}},{"source":{"name":"upsrt_dttm","type":"DateTime","physicalType":"datetime"},"sink":{"name":"UpsertDateTime","type":"DateTime","physicalType":"datetime2"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"Ingestion_Src_Dataset_V1_Customers","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"Ingestion_Snk_Dataset_V1_Customers","type":"DatasetReference","parameters":{}}]},{"name":"Update the isAlreadyRunning Status","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Lookup the pipeline log table to fetch lastrundatetime","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_UpdateDataFactoryPipeline_AlreadyRunning]","storedProcedureParameters":{"IsAlreadyRunning":{"value":"true","type":"Boolean"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"}},{"name":"Reset the isAlreadyRunning Status","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Copy the customer table data","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_UpdateDataFactoryPipeline_AlreadyRunning]","storedProcedureParameters":{"IsAlreadyRunning":{"value":"false","type":"Boolean"},"PipelineName":{"value":{"value":"@pipeline().Pipeline","type":"Expression"},"type":"String"}}},"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"}},{"name":"Update the endDateTime in log table","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Copy the customer table data","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_ManagePipelineLog]","storedProcedureParameters":{"EndDateTime":{"value":{"value":"@utcNow()","type":"Expression"},"type":"DateTime"},"ErrorDescription":{"value":null,"type":"String"},"LogId":{"value":{"value":"@variables('LogId')","type":"Expression"},"type":"Int64"},"PipelineId":{"value":null,"type":"Int16"},"StartDateTime":{"value":null,"type":"DateTime"},"Status":{"value":"OK","type":"String"},"NewLogId":{"value":null,"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"}},{"name":"Read the last inserted logId","type":"SetVariable","dependsOn":[{"activity":"Add a new row in the PipelineLog table","dependencyConditions":["Succeeded"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LogId","value":{"value":"@activity('Add a new row in the PipelineLog table').output.firstRow.NewLogId","type":"Expression"}}},{"name":"Add a new row in the PipelineLog table","type":"Lookup","dependsOn":[{"activity":"Update the isAlreadyRunning Status","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderStoredProcedureName":"[[dbo].[usp_ManagePipelineLog]","storedProcedureParameters":{"EndDateTime":{"type":"DateTime","value":null},"ErrorDescription":{"type":"String","value":null},"LogId":{"type":"Int64","value":null},"NewLogId":{"type":"Int64","value":null},"PipelineId":{"type":"Int16","value":{"value":"@variables('PipelineId')","type":"Expression"}},"StartDateTime":{"type":"DateTime","value":{"value":"@utcNow()","type":"Expression"}},"Status":{"type":"String","value":"OK"}},"queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"Ingestion_Snk_Dataset_V1_PipelineLogs","type":"DatasetReference","parameters":{}}}},{"name":"Error while add a new row in log table","type":"SetVariable","dependsOn":[{"activity":"Add a new row in the PipelineLog table","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LogExceptionPipelineLogInsert","value":{"value":"\"There is an error while fetching the data from pipelinelog table\"","type":"Expression"}}},{"name":"Error while upsert the customer data","type":"SetVariable","dependsOn":[{"activity":"Copy the customer table data","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LogExceptionCustomerUpsert","value":{"value":"\"There is an error while upsert the customer data\"","type":"Expression"}}},{"name":"Update the log table with error","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"Error while upsert the customer data","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_ManagePipelineLog]","storedProcedureParameters":{"EndDateTime":{"value":{"value":"@utcNow()","type":"Expression"},"type":"DateTime"},"ErrorDescription":{"value":{"value":"@activity('Copy the customer table data').output.errors[0].Message","type":"Expression"},"type":"String"},"LogId":{"value":{"value":"@variables('LogId')","type":"Expression"},"type":"Int64"},"PipelineId":{"value":null,"type":"Int16"},"StartDateTime":{"value":null,"type":"DateTime"},"Status":{"value":"Error","type":"String"},"NewLogId":{"value":null,"type":"Int64"}}},"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"}}]}},{"name":"Error fetching the data from pipeline table","type":"SetVariable","dependsOn":[{"activity":"Lookup the pipeline table to get isAlreadyRunning value","dependencyConditions":["Failed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"LogExceptionPipelineLookup","value":{"value":"\"There is an error while fetching the data from pipeline table\"","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"variables":{"PipelineId":{"type":"Integer"},"LogMessageNoRowAgainstCurrentPipeline":{"type":"String"},"LogExceptionPipelineLookup":{"type":"String"},"LogExceptionPipelineLogLookup":{"type":"String"},"LogId":{"type":"Integer"},"LogExceptionPipelineLogInsert":{"type":"String"},"LogExceptionCustomerUpsert":{"type":"String"}},"folder":{"name":"Ingestion/V1/Customers"},"annotations":[],"lastPublishTime":"2024-09-18T11:40:25Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/Ingestion_Snk_Dataset_V1_Pipelines')]","[concat(variables('factoryId'), '/datasets/Ingestion_Snk_Dataset_V1_PipelineLogs')]","[concat(variables('factoryId'), '/datasets/Ingestion_Src_Dataset_V1_Customers')]","[concat(variables('factoryId'), '/datasets/Ingestion_Snk_Dataset_V1_Customers')]"]},{"name":"[concat(parameters('factoryName'), '/Ingestion_Snk_Dataset_V1_Pipelines')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"},"folder":{"name":"Ingestion/V1/Sink"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"PipelineId","type":"smallint","precision":5},{"name":"PipelineName","type":"varchar"},{"name":"IsAlreadyRunning","type":"bit"},{"name":"LastRunDateTime","type":"datetime2","scale":7},{"name":"ErrorDescription","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"DataFactoryPipeline"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Ingestion_Snk_Dataset_V1_PipelineLogs')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"},"folder":{"name":"Ingestion/V1/Sink"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"PipelineId","type":"smallint","precision":5},{"name":"PipelineName","type":"varchar"},{"name":"IsAlreadyRunning","type":"bit"},{"name":"LastRunDateTime","type":"datetime2","scale":7},{"name":"ErrorDescription","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"DataFactoryPipelineLog"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Ingestion_Src_Dataset_V1_Customers')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SRC_DMT_SQL')]","type":"LinkedServiceReference"},"folder":{"name":"Ingestion/V1/Source"},"annotations":[],"type":"SqlServerTable","schema":[{"name":"cnsmr_id","type":"bigint","precision":19},{"name":"wrkgrp_id","type":"bigint","precision":19},{"name":"cnsmr_lst_wrkgrp_id","type":"bigint","precision":19},{"name":"cnsmr_bhvrl_score_nmbr","type":"smallint","precision":5},{"name":"cnsmr_brth_dt","type":"datetime","precision":23,"scale":3},{"name":"cnsmr_email_txt","type":"varchar"},{"name":"cnsmr_email_vldty_cd","type":"smallint","precision":5},{"name":"cnsmr_email_effctv_dttm","type":"datetime","precision":23,"scale":3},{"name":"cnsmr_idntfr_lgcy_txt","type":"varchar"},{"name":"cnsmr_idntfr_agncy_id","type":"bigint","precision":19},{"name":"cnsmr_idntfr_drvr_lcns_txt","type":"varchar"},{"name":"cnsmr_idntfr_drvr_lcns_issr_txt","type":"varchar"},{"name":"cnsmr_idntfr_pssprt_txt","type":"varchar"},{"name":"cnsmr_idntfr_ssn_txt","type":"varchar"},{"name":"cnsmr_idntfr_scrd_ssn_txt","type":"varchar"},{"name":"cnsmr_idntfr_hshd_ssn_txt","type":"char"},{"name":"cnsmr_idntfr_cmmrcl_txt","type":"varchar"},{"name":"cnsmr_iscmmrcl_flg","type":"char"},{"name":"cnsmr_lang_spkn_cd","type":"smallint","precision":5},{"name":"cnsmr_lttr_mthd_cd","type":"smallint","precision":5},{"name":"cnsmr_mrtl_stts_cd","type":"smallint","precision":5},{"name":"cnsmr_nm_cmmrcl_txt","type":"varchar"},{"name":"cnsmr_nm_frst_txt","type":"varchar"},{"name":"cnsmr_nm_full_txt","type":"varchar"},{"name":"cnsmr_nm_full_altrnt_txt","type":"varchar"},{"name":"cnsmr_nm_lst_txt","type":"varchar"},{"name":"cnsmr_nm_mddl_txt","type":"varchar"},{"name":"cnsmr_nm_prfx_txt","type":"varchar"},{"name":"cnsmr_nm_sffx_txt","type":"varchar"},{"name":"cnsmr_use_attrny_flg","type":"char"},{"name":"agncy_entty_crrltn_id","type":"varchar"},{"name":"cnsmr_accss_pin_nmbr_txt","type":"varchar"},{"name":"upsrt_dttm","type":"datetime","precision":23,"scale":3},{"name":"upsrt_soft_comp_id","type":"int","precision":10},{"name":"upsrt_trnsctn_nmbr","type":"int","precision":10},{"name":"upsrt_usr_id","type":"bigint","precision":19},{"name":"cnsmr_email_optn_flg","type":"char"},{"name":"cnsmr_email_optn_dt","type":"datetime","precision":23,"scale":3},{"name":"cnsmr_tmzn_ovrrd_cd","type":"smallint","precision":5},{"name":"cnsmr_email_cnfrmtn_dt","type":"datetime","precision":23,"scale":3},{"name":"cnsmr_email_cnsnt_flg","type":"char"},{"name":"cnsmr_email_cnsnt_dt","type":"datetime","precision":23,"scale":3}],"typeProperties":{"schema":"dbo","table":"cnsmr"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Ingestion_Snk_Dataset_V1_Customers')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('SNK_AZ_CCM_D_API_SQLSVR_UKS')]","type":"LinkedServiceReference"},"folder":{"name":"Ingestion/V1/Sink"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"CustomerId","type":"bigint","precision":19},{"name":"CustomerGroupId","type":"uniqueidentifier"},{"name":"Title","type":"varchar"},{"name":"FirstName","type":"varchar"},{"name":"LastName","type":"varchar"},{"name":"MiddleName","type":"varchar"},{"name":"CommercialName","type":"varchar"},{"name":"DateofBirth","type":"date"},{"name":"Email","type":"varchar"},{"name":"EmailConfirmedDate","type":"datetime2","scale":7},{"name":"IsMaster","type":"bit"},{"name":"IsActive","type":"bit"},{"name":"UpsertDateTime","type":"datetime2","scale":7},{"name":"Ownership","type":"varchar"},{"name":"OwnershipDate","type":"datetime2","scale":7},{"name":"IsBankHoliday","type":"bit"},{"name":"DayOfWeek","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"Customer"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/default')]","type":"Microsoft.DataFactory/factories/managedVirtualNetworks","apiVersion":"2018-06-01","properties":{},"dependsOn":[]}]}




{"name":"Ingestion_Customer_Pipeline_V1_Master","image":"<svg width=\"400px\" height=\"240px\" viewBox=\"0 0 400 240\" xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" style=\"display: block; letter-spacing: normal; word-spacing: normal; width: 400px; height: 240px;\"><g clip-path=\"url(#mainClip5685153)\"><g class=\"gojs-diagram\" transform=\"matrix(0.4130524576621231, 0, 0, 0.4130524576621231, 51.92069392812886, 9.673688558446923)\"><g transform=\"matrix(1, 0, 0, 1, 0, 420)\"><g class=\"gojs-ts\"/><g transform=\"matrix(1, 0, 0, 1, 1, 0)\"><g transform=\"matrix(1, 0, 0, 1, 194, 0)\"><g class=\"gojs-ts\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"#d1d1d1\" fill=\"transparent\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 191,0 C 191.89543050033842,0 193,1.1045694996615871 193,2 L 193,81.2 C 193,82.09543050033841 191.89543050033842,83.2 191,83.2 L 2,83.2 C 1.1045694996615871,83.2 0,82.09543050033841 0,81.2 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 1.0000000000000058, 1.1000000000000072)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"192\" height=\"82\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"192\" height=\"27\" fill=\"#e6e6e6\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685154)\"><text x=\"0\" y=\"12.257006835937501\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 5, 6.5)\">Lookup</text></g><g transform=\"matrix(1, 0, 0, 1, 142, -3)\" clip-path=\"url(#CLIP5685155)\"><path stroke=\"transparent\" fill=\"#e6e6e6\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 1.8409491661026458,0 L 3.6818983322052947,0 C 4.506119348655733,0 5.52284749830794,1.0167281496522078 5.52284749830794,1.8409491661026458 L 5.52284749830794,3.681898332205292 C 5.52284749830794,4.50611934865573 4.506119348655733,5.522847498307938 3.6818983322052947,5.522847498307938 L 1.8409491661026458,5.522847498307938 C 1.0167281496522078,5.522847498307938 0,4.50611934865573 0,3.681898332205292 L 0,1.8409491661026458 C 0,1.0167281496522078 1.0167281496522078,0 1.8409491661026458,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/></g><g transform=\"matrix(1, 0, 0, 1, 173, 5.5)\"><path stroke=\"none\" fill=\"#57A300\" d=\"M 8,16 C 12.4183,16 16,12.4183 16,8 C 16,3.58172 12.4183,0 8,0 C 3.58172,0 0,3.58172 0,8 C 0,12.4183 3.58172,16 8,16 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#FFFFFF\" d=\"M 3.55311,8.29107 C 3.47911,8.21207 3.44111,8.10807 3.44511,8.00007 C 3.44911,7.89107 3.49511,7.79107 3.57511,7.71607 L 4.41011,6.94407 C 4.48611,6.87507 4.58311,6.83707 4.68411,6.83707 C 4.79611,6.83707 4.90411,6.88407 4.98011,6.96607 L 7.11611,9.25807 L 10.9231,4.38307 C 11.0001,4.28407 11.1161,4.22607 11.2421,4.22607 C 11.3321,4.22607 11.4171,4.25507 11.4891,4.31007 L 12.3951,5.00907 C 12.5681,5.13707 12.6051,5.38607 12.4751,5.56307 L 7.60711,11.7961 C 7.41811,12.0381 7.05711,12.0541 6.84711,11.8291 L 3.55311,8.29107 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 27)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"none\" fill=\"#ffffff\" d=\"M 0,0 L 192,0 L 192,40 L 0,40 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, -22.84267578125)\" clip-path=\"url(#CLIP5685157)\"><g transform=\"matrix(1, 0, 0, 1, 10, 34.34267578125)\"><path stroke=\"none\" fill=\"#198AB3\" d=\"M 12.17308125,17.5270875 L 2.9042250000000003,26.796 C 2.20786875,27.492375 2.20786875,28.6213125 2.9042250000000003,29.3176875 L 3.06465,29.478 C 3.7610062499999994,30.174375 4.89001875,30.174375 5.586375,29.478 L 14.8552125,20.2093125 C 15.55156875,19.5129375 15.55156875,18.383868749999998 14.8552125,17.6875125 L 14.6947875,17.5270875 C 13.99845,16.83073125 12.86941875,16.83073125 12.17308125,17.5270875 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685156)\"><path stroke=\"none\" fill=\"#50E6FF\" d=\"M 18.973125,22.875 C 25.29,22.875 30.410625000000003,17.7542625 30.410625000000003,11.4375 C 30.410625000000003,5.1207375 25.29,0 18.973125,0 C 12.65645625,0 7.5357,5.1207375 7.5357,11.4375 C 7.5357,17.7542625 12.65645625,22.875 18.973125,22.875 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><path stroke=\"none\" fill=\"white\" d=\"M 18.945187500000003,20.2125 C 23.901375,20.2125 27.918937500000002,16.194825 27.918937500000002,11.23876875 C 27.918937500000002,6.28269375 23.901375,2.26501875 18.945187500000003,2.26501875 C 13.98915,2.26501875 9.971475000000002,6.28269375 9.971475000000002,11.23876875 C 9.971475000000002,16.194825 13.98915,20.2125 18.945187500000003,20.2125 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 50, 33)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"12.257006835937501\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 0)\">Lookup the</text><text x=\"0\" y=\"28.599682617187504\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 0)\">pipeline table to...</text></g></g></g></g></g></g></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 197, 1.1000000000000014)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685158)\"><path stroke=\"transparent\" fill=\"transparent\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 100,0 L 100,100 L 0,100 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 1, 36.0376)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 196, 6.100000000000001)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 18)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"><path stroke=\"none\" fill=\"#fff\" d=\"M 0,0 L 12,0 L 12,12 L 0,12 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/><path stroke=\"none\" fill=\"#107C10\" d=\"M 0.1080000000000001,4.0649999999999995 C 0.03399999999999981,3.9859999999999998 -0.0040000000000000036,3.8819999999999997 0,3.774 C 0.0040000000000000036,3.665 0.04999999999999982,3.5650000000000004 0.1299999999999999,3.49 L 0.9649999999999999,2.718 C 1.041,2.649 1.1379999999999995,2.6109999999999998 1.2389999999999994,2.6109999999999998 C 1.3509999999999995,2.6109999999999998 1.459,2.6580000000000004 1.5349999999999997,2.74 L 3.671,5.032 L 7.478010000000001,0.15700000000000003 C 7.555010000000001,0.05799999999999983 7.671010000000001,0 7.79701,0 C 7.88701,0 7.972010000000001,0.028999999999999915 8.04401,0.08399999999999963 L 8.95001,0.7830000000000004 C 9.12301,0.9109999999999996 9.16001,1.1600000000000001 9.03001,1.3369999999999997 L 4.161999999999999,7.57 C 3.9730000000000003,7.811999999999999 3.6119999999999997,7.827999999999999 3.4019999999999997,7.603 L 0.1080000000000001,4.0649999999999995 z\" transform=\"matrix(1, 0, 0, 1, 1.4849949999999996, 2.1985)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 36)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"><path stroke=\"none\" fill=\"#fff\" d=\"M 0,0 L 12,0 L 12,12 L 0,12 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/><path stroke=\"none\" fill=\"#A80000\" d=\"M 9.38802,1.4220000000000002 L 7.9660199999999985,0 L 4.693999999999999,3.272 L 1.4220000000000002,0 L 0,1.4220000000000002 L 3.272,4.694000000000001 L 0,7.96597 L 1.4220000000000002,9.387970000000001 L 4.693999999999999,6.116 L 7.9660199999999985,9.387970000000001 L 9.38802,7.96597 L 6.116,4.694000000000001 L 9.38802,1.4220000000000002 z\" transform=\"matrix(1, 0, 0, 1, 1.3059900000000004, 1.3060149999999995)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 54)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"/></g></g></g><g transform=\"matrix(1, 0, 0, 1, 253, 30)\"><g class=\"gojs-ts\"/><g transform=\"matrix(1, 0, 0, 1, 1, 0)\"><g transform=\"matrix(1, 0, 0, 1, 450, 0)\"><g class=\"gojs-ts\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"#d1d1d1\" fill=\"transparent\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 447,0 C 447.8954305003384,0 449,1.1045694996615871 449,2 L 449,333.2 C 449,334.0954305003384 447.8954305003384,335.2 447,335.2 L 2,335.2 C 1.1045694996615871,335.2 0,334.0954305003384 0,333.2 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, -2.275957200481571e-14, 1.0999999999999717)\" clip-path=\"url(#CLIP5685166)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"450\" height=\"334\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"450\" height=\"27\" fill=\"#e6e6e6\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><text x=\"0\" y=\"12.257006835937501\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 5, 6.5)\">If Condition</text><g transform=\"matrix(1, 0, 0, 1, 142, -3)\" clip-path=\"url(#CLIP5685159)\"><path stroke=\"transparent\" fill=\"#e6e6e6\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 1.8409491661026458,0 L 3.6818983322052947,0 C 4.506119348655733,0 5.52284749830794,1.0167281496522078 5.52284749830794,1.8409491661026458 L 5.52284749830794,3.681898332205292 C 5.52284749830794,4.50611934865573 4.506119348655733,5.522847498307938 3.6818983322052947,5.522847498307938 L 1.8409491661026458,5.522847498307938 C 1.0167281496522078,5.522847498307938 0,4.50611934865573 0,3.681898332205292 L 0,1.8409491661026458 C 0,1.0167281496522078 1.0167281496522078,0 1.8409491661026458,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/></g><g transform=\"matrix(1, 0, 0, 1, 149, 5.5)\"><path stroke=\"none\" fill=\"#57A300\" d=\"M 8,16 C 12.4183,16 16,12.4183 16,8 C 16,3.58172 12.4183,0 8,0 C 3.58172,0 0,3.58172 0,8 C 0,12.4183 3.58172,16 8,16 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#FFFFFF\" d=\"M 3.55311,8.29107 C 3.47911,8.21207 3.44111,8.10807 3.44511,8.00007 C 3.44911,7.89107 3.49511,7.79107 3.57511,7.71607 L 4.41011,6.94407 C 4.48611,6.87507 4.58311,6.83707 4.68411,6.83707 C 4.79611,6.83707 4.90411,6.88407 4.98011,6.96607 L 7.11611,9.25807 L 10.9231,4.38307 C 11.0001,4.28407 11.1161,4.22607 11.2421,4.22607 C 11.3321,4.22607 11.4171,4.25507 11.4891,4.31007 L 12.3951,5.00907 C 12.5681,5.13707 12.6051,5.38607 12.4751,5.56307 L 7.60711,11.7961 C 7.41811,12.0381 7.05711,12.0541 6.84711,11.8291 L 3.55311,8.29107 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 430, 5)\"><rect x=\"0\" y=\"0\" width=\"20\" height=\"20\" fill=\"transparent\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#242424\" d=\"M 15.999999999999998,0.9663837911020182 C 16.26677714046544,0.6995246494663515 16.26677714046544,0.26685914163566676 15.999999999999998,0 C 15.733086190917515,-0.2668728084973716 15.300393349363421,-0.2668728084973716 15.033479540280938,0 L 10.733338173680187,4.300196034047568 L 10.733338173680187,1.8498780659682326 C 10.733338173680187,1.4724813468692208 10.427391807570586,1.1665349807596208 10.049995088471574,1.1665349807596208 C 9.672598369372562,1.1665349807596208 9.366652003262962,1.4724813468692208 9.366652003262962,1.8498780659682326 L 9.366652003262962,5.813267960178182 C 9.366652003262962,6.266146756469337 9.733784909222141,6.6332796624285155 10.186663705513297,6.6332796624285155 L 14.150053599723245,6.6332796624285155 C 14.52739565137544,6.6332796624285155 14.833396684931856,6.3273332963189155 14.833396684931856,5.949936577219904 C 14.833396684931856,5.572539858120892 14.52739565137544,5.266593492011292 14.150053599723245,5.266593492011292 L 11.699721964782205,5.266593492011292 L 15.999999999999998,0.9663837911020182 z M 5.949936577219904,14.833396684931856 C 5.572539858120892,14.833396684931856 5.266593492011292,14.52739565137544 5.266593492011292,14.150053599723245 L 5.266593492011292,11.699721964782205 L 0.9663837911020182,15.999999999999998 C 0.6995246494663515,16.26677714046544 0.26685914163566676,16.26677714046544 0,15.999999999999998 C -0.2668728084973716,15.733086190917515 -0.2668728084973716,15.300393349363421 0,15.033479540280938 L 4.300196034047568,10.733338173680187 L 1.8498780659682326,10.733338173680187 C 1.4724813468692208,10.733338173680187 1.1665349807596208,10.427391807570586 1.1665349807596208,10.049995088471574 C 1.1665349807596208,9.672598369372562 1.4724813468692208,9.366652003262962 1.8498780659682326,9.366652003262962 L 5.813267960178182,9.366652003262962 C 6.266146756469337,9.366652003262962 6.6332796624285155,9.733784909222141 6.6332796624285155,10.186663705513297 L 6.6332796624285155,14.150053599723245 C 6.6332796624285155,14.52739565137544 6.3273332963189155,14.833396684931856 5.949936577219904,14.833396684931856 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 27)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"none\" fill=\"#ffffff\" d=\"M 0,0 L 450,0 L 450,40 L 0,40 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, -6.342675781250001)\" clip-path=\"url(#CLIP5685160)\"><g transform=\"matrix(1, 0, 0, 1, 10, 16.34267578125)\"><path stroke=\"none\" fill=\"#999999\" d=\"M 27.4051875,9.3937875 L 25.2133125,9.3937875 C 25.166999999999998,9.394068749999999 25.1221875,9.377175 25.087500000000002,9.346350000000001 C 25.052812499999998,9.315525000000001 25.030875,9.27298125 25.025812499999997,9.226912500000001 L 25.025812499999997,3.0187875 C 25.0220625,2.946825 24.990750000000002,2.87908125 24.93825,2.82954375 C 24.8859375,2.7799875000000003 24.8165625,2.7524249999999997 24.7445625,2.7525375000000003 L 5.450831249999999,2.7525375000000003 C 5.37856875,2.75240625 5.3090062499999995,2.7799125 5.25635625,2.8294125 C 5.2037249999999995,2.8789125 5.172,2.94665625 5.16770625,3.0187875 L 5.16770625,9.226912500000001 C 5.16260625,9.27298125 5.1406125,9.315525000000001 5.10598125,9.346350000000001 C 5.07136875,9.377175 5.02655625,9.394068749999999 4.98020625,9.3937875 L 2.79395625,9.3937875 C 2.74768125,9.37935 2.6976375,9.3834 2.6542875,9.405075 C 2.6109375000000004,9.426749999999998 2.577675,9.4643625 2.56145625,9.510037500000001 C 2.54701875,9.55629375 2.55106875,9.60635625 2.5727437500000003,9.64970625 C 2.59441875,9.6930375 2.6320312500000003,9.726318749999999 2.67770625,9.7425375 L 6.31333125,13.393162499999999 L 6.33770625,13.4175375 C 6.36373125,13.440956250000001 6.39418125,13.4589375 6.42725625,13.4704125 C 6.46035,13.48190625 6.49539375,13.48665 6.53034375,13.48438125 C 6.565275,13.48209375 6.599418750000001,13.47286875 6.63073125,13.45719375 C 6.6620625,13.4415375 6.689925,13.419749999999999 6.71270625,13.393162499999999 L 10.363331250000002,9.7087875 C 10.38789375,9.6823125 10.404300000000001,9.64929375 10.4105625,9.613725 C 10.41680625,9.5781375 10.4126625,9.54151875 10.3986,9.5082375 C 10.3845375,9.474975 10.361175000000001,9.446475 10.3312875,9.42616875 C 10.30141875,9.405862500000001 10.26631875,9.394612500000001 10.23020625,9.3937875 L 8.06270625,9.3937875 C 8.014949999999999,9.3940875 7.968637499999999,9.3775125 7.931925000000001,9.34696875 C 7.8952124999999995,9.31644375 7.8704625,9.27391875 7.86208125,9.226912500000001 L 7.86208125,5.7075375 C 7.8665625,5.63409375 7.89789375,5.56485 7.950093750000001,5.51300625 C 8.002293750000002,5.46114375 8.071725,5.43028125 8.14520625,5.4262875 L 22.0651875,5.4262875 C 22.1386875,5.42990625 22.2080625,5.4607125000000005 22.259999999999998,5.5126875 C 22.3119375,5.5646625 22.342875,5.6341125 22.3464375,5.7075375 L 22.3464375,9.226912500000001 C 22.338375,9.27375 22.314,9.31625625 22.277625,9.3468 C 22.24125,9.3773625 22.1953125,9.394012499999999 22.1476875,9.3937875 L 19.972687500000003,9.3937875 C 19.92525,9.393675 19.879312499999997,9.411618749999999 19.844625,9.44398125 C 19.80975,9.4763625 19.7885625,9.52074375 19.7851875,9.5681625 C 19.78425,9.594225000000002 19.78875,9.62019375 19.7985,9.6444 C 19.808249999999997,9.668625 19.822875,9.69054375 19.8414375,9.7087875 L 23.493937499999998,13.393162499999999 C 23.516812499999997,13.41954375 23.54475,13.44110625 23.5760625,13.456631250000001 C 23.607375,13.472156250000001 23.6415,13.48130625 23.676375,13.483575 C 23.71125,13.48584375 23.746125,13.481175 23.7793125,13.46983125 C 23.812312499999997,13.458506250000001 23.842875,13.440731249999999 23.8689375,13.4175375 L 23.8933125,13.393162499999999 L 27.5195625,9.750037500000001 C 27.565312499999997,9.73381875 27.602812500000002,9.7005375 27.6245625,9.65720625 C 27.646125,9.61385625 27.65025,9.56379375 27.6358125,9.5175375 C 27.621187499999998,9.470906249999999 27.58875,9.4318875 27.545625,9.40876875 C 27.502499999999998,9.38565 27.45225,9.38026875 27.4051875,9.3937875 z M 2.67395625,25.95375 L 6.30958125,29.60625 L 6.33395625,29.62875 C 6.376237499999999,29.6626875 6.4288125,29.68125 6.483018749999999,29.68125 C 6.537225,29.68125 6.58981875,29.6626875 6.632081250000001,29.62875 L 6.65645625,29.60625 L 10.29208125,25.95375 C 10.31964375,25.950374999999998 10.3461,25.9408125 10.3695375,25.926 C 10.392975,25.9111875 10.41283125,25.891125 10.427643750000001,25.8676875 C 10.442475,25.84425 10.4518875,25.817812500000002 10.455225,25.79025 C 10.4585625,25.7626875 10.455749999999998,25.73475 10.446975,25.7083125 C 10.43818125,25.6820625 10.42366875,25.657875 10.404468750000001,25.638 C 10.385250000000001,25.6179375 10.36183125,25.602375000000002 10.33588125,25.5924375 C 10.30995,25.5825 10.282124999999999,25.5785625 10.254449999999999,25.580625 C 10.226775,25.582874999999998 10.199925,25.591125 10.17583125,25.605 L 7.98395625,25.605 C 7.93790625,25.605375 7.89331875,25.5886875 7.8587437499999995,25.5583125 C 7.824168749999999,25.52775 7.8019875,25.48575 7.796456249999999,25.439999999999998 L 7.796456249999999,20.8125 C 7.792143749999999,20.7405 7.7603625,20.673000000000002 7.707675,20.623874999999998 C 7.6549875,20.574562500000003 7.585425,20.5475625 7.51333125,20.548125 L 5.450831249999999,20.548125 C 5.3787562499999995,20.5475625 5.30919375,20.574562500000003 5.25650625,20.623874999999998 C 5.20381875,20.673000000000002 5.1720375,20.7405 5.16770625,20.8125 L 5.16770625,25.4325 C 5.16219375,25.47825 5.1400125,25.520249999999997 5.1054375,25.5508125 C 5.0708625000000005,25.5811875 5.026275,25.597875000000002 4.98020625,25.5975 L 2.79020625,25.5975 C 2.76613125,25.583625 2.73928125,25.575375 2.71160625,25.5733125 C 2.6839125,25.5710625 2.65610625,25.575000000000003 2.6301562499999998,25.584937500000002 C 2.604225,25.594875000000002 2.58080625,25.6104375 2.5615875,25.6305 C 2.5423875,25.650374999999997 2.52785625,25.6745625 2.51908125,25.7008125 C 2.5103062499999997,25.727249999999998 2.5074750000000003,25.7551875 2.51083125,25.78275 C 2.5141687499999996,25.8103125 2.52358125,25.836750000000002 2.5384125,25.8601875 C 2.5532250000000003,25.883625000000002 2.5730625000000003,25.9036875 2.59651875,25.9185 C 2.61995625,25.9333125 2.6464125,25.942875 2.67395625,25.94625 L 2.67395625,25.95375 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#3B3B3B\" d=\"M 14.702831250000001,0.1639535625 L 11.1960375,3.6707625 C 10.977825000000001,3.8889750000000003 10.977825000000001,4.24275 11.1960375,4.460943749999999 L 14.702831250000001,7.967756249999999 C 14.921043749999999,8.18596875 15.274818750000001,8.18596875 15.49303125,7.967756249999999 L 18.999750000000002,4.4609625 C 19.218,4.24275 19.218,3.8889750000000003 18.999750000000002,3.6707625 L 15.49303125,0.16395318749999999 C 15.274818750000001,-0.0542521875 14.921043749999999,-0.054251812499999996 14.702831250000001,0.1639535625 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#0078D4\" d=\"M 11.812481250000001,12.75965625 C 11.8120125,12.7211625 11.803875,12.68315625 11.78859375,12.647831250000001 C 11.77329375,12.612525 11.75113125,12.58059375 11.7234,12.55389375 C 11.69566875,12.527212500000001 11.662912500000001,12.506287500000001 11.627025,12.492375000000001 C 11.5911375,12.47844375 11.552850000000001,12.471787500000001 11.51435625,12.472781249999999 L 9.38998125,12.472781249999999 C 9.31663125,12.480825 9.249393750000001,12.5173875 9.20274375,12.57455625 C 9.15609375,12.631725 9.133781249999998,12.70494375 9.140606250000001,12.77840625 L 9.140606250000001,18.870375 L 3.5718562499999997,18.870375 L 3.5718562499999997,12.75965625 C 3.5713875,12.7211625 3.56325,12.68315625 3.54796875,12.647831250000001 C 3.53266875,12.612525 3.51050625,12.58059375 3.482775,12.55389375 C 3.4550437499999997,12.527212500000001 3.4222875,12.506287500000001 3.3863999999999996,12.492375000000001 C 3.3505125,12.47844375 3.312225,12.471787500000001 3.27373125,12.472781249999999 L 1.1474887500000002,12.472781249999999 C 1.0742793750000001,12.480825 1.007205,12.51744375 0.960855,12.574668749999999 C 0.914505,12.6319125 0.8926293750000001,12.705131249999999 0.89998875,12.77840625 L 0.89998875,21.292875 C 0.907575,21.366000000000003 0.9437306249999999,21.4333125 1.000603125,21.48 C 1.057475625,21.5266875 1.1304712499999998,21.549000000000003 1.2037387499999999,21.54225 L 11.52560625,21.54225 C 11.5641,21.5416875 11.602106249999999,21.533625 11.637431249999999,21.51825 C 11.672756249999999,21.502875 11.704687499999999,21.48075 11.73136875,21.453 C 11.75806875,21.42525 11.778974999999999,21.392625 11.79290625,21.356625 C 11.806837499999999,21.3208125 11.813493750000001,21.2825625 11.812481250000001,21.244125 L 11.812481250000001,12.75965625 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#999999\" d=\"M 19.9404375,25.95375 L 23.5760625,29.60625 L 23.600437499999998,29.62875 C 23.643,29.662875 23.695875,29.6814375 23.7504375,29.6814375 C 23.805,29.6814375 23.857875,29.662875 23.9004375,29.62875 L 23.9229375,29.60625 L 27.562312499999997,25.95375 C 27.589875000000003,25.950374999999998 27.6163125,25.9408125 27.63975,25.926 C 27.6631875,25.9111875 27.683062500000002,25.891125 27.697875,25.8676875 C 27.712687499999998,25.84425 27.7220625,25.817812500000002 27.725437499999998,25.79025 C 27.7288125,25.7626875 27.726,25.73475 27.7171875,25.7083125 C 27.708374999999997,25.6820625 27.693937499999997,25.657875 27.674625,25.638 C 27.6555,25.6179375 27.6320625,25.602375000000002 27.6061875,25.5924375 C 27.580125000000002,25.5825 27.552374999999998,25.5785625 27.524625,25.580625 C 27.497062500000002,25.582874999999998 27.47025,25.591125 27.4460625,25.605 L 25.252312500000002,25.605 C 25.206187500000002,25.605375 25.16175,25.5886875 25.1270625,25.5583125 C 25.0925625,25.52775 25.0704375,25.48575 25.064812500000002,25.439999999999998 L 25.064812500000002,20.8125 C 25.0605,20.740875 25.029,20.6735625 24.9766875,20.624437500000003 C 24.924374999999998,20.5753125 24.855375,20.5479375 24.783562500000002,20.548125 L 22.7135625,20.548125 C 22.6415625,20.5475625 22.572,20.574562500000003 22.5193125,20.623874999999998 C 22.466625,20.673000000000002 22.434749999999998,20.7405 22.4304375,20.8125 L 22.4304375,25.4325 C 22.425,25.47825 22.4026875,25.520249999999997 22.3681875,25.5508125 C 22.3336875,25.5811875 22.2890625,25.597875000000002 22.2429375,25.5975 L 20.062312499999997,25.5975 C 20.019375,25.59225 19.975875000000002,25.601812499999998 19.9393125,25.625062500000002 C 19.9025625,25.648125 19.8751875,25.6831875 19.8615,25.724249999999998 C 19.8478125,25.7653125 19.84875,25.8099375 19.864125,25.850437499999998 C 19.8795,25.89075 19.908562500000002,25.924687499999997 19.9460625,25.94625 L 19.9404375,25.95375 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#0078D4\" d=\"M 29.079375,12.75965625 C 29.078812499999998,12.7211625 29.07075,12.68315625 29.055375,12.647831250000001 C 29.0401875,12.612525 29.0180625,12.58059375 28.990312499999998,12.55389375 C 28.9625625,12.527212500000001 28.92975,12.506287500000001 28.8939375,12.492375000000001 C 28.857937500000002,12.47844375 28.8196875,12.471787500000001 28.78125,12.472781249999999 L 26.656875,12.472781249999999 C 26.5835625,12.480825 26.51625,12.5173875 26.469562500000002,12.57455625 C 26.422875,12.631725 26.4005625,12.70494375 26.4075,12.77840625 L 26.4075,18.870375 L 20.83875,18.870375 L 20.83875,12.75965625 C 20.8381875,12.7211625 20.830125000000002,12.68315625 20.81475,12.647831250000001 C 20.7995625,12.612525 20.7774375,12.58059375 20.7496875,12.55389375 C 20.7219375,12.527212500000001 20.689125,12.506287500000001 20.653312500000002,12.492375000000001 C 20.6173125,12.47844375 20.5790625,12.471787500000001 20.540625,12.472781249999999 L 18.414337500000002,12.472781249999999 C 18.34111875,12.480825 18.27405,12.51744375 18.2277,12.574668749999999 C 18.18135,12.6319125 18.159468750000002,12.705131249999999 18.1668375,12.77840625 L 18.1668375,21.292875 C 18.17488125,21.366187500000002 18.211425,21.4333125 18.26859375,21.48 C 18.32578125,21.5266875 18.39898125,21.549000000000003 18.4724625,21.54225 L 28.785,21.54225 C 28.8234375,21.5416875 28.8613125,21.533625 28.8965625,21.51825 C 28.931812500000003,21.502875 28.9635,21.48075 28.990125,21.453 C 29.0165625,21.42525 29.037374999999997,21.3924375 29.0510625,21.356625 C 29.06475,21.320625 29.071125,21.282375000000002 29.07,21.244125 L 29.07,12.75965625 L 29.079375,12.75965625 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 50, 15)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"12.257006835937501\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 0)\">Check the record</text><text x=\"0\" y=\"28.599682617187504\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 0)\">against current...</text></g></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 55)\"><g transform=\"matrix(1, 0, 0, 1, 10, 0)\"><rect x=\"0\" y=\"0\" width=\"430\" height=\"121\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"#d1d1d1\" fill=\"#ffffff\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 429,0 L 429,120 L 0,120 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 2.5, 6.5)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"none\" fill=\"#ffffff\" d=\"M 0,0 L 423,0 L 423,30 L 0,30 z\" transform=\"matrix(1, 0, 0, 1, 0, 2)\"/><text x=\"0\" y=\"10.814501953125\" style=\"font: normal 600 12px/16px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 2)\">True</text><text x=\"0\" y=\"10.1232421875\" style=\"font: normal 300 12px/16px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 15.201875)\">9 activities</text><g transform=\"matrix(1, 0, 0, 1, 400.47715250169205, 2)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"transparent\" fill=\"#ffffff\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 19.52284749830794,0 C 20.418277998646353,0 21.52284749830794,1.1045694996615871 21.52284749830794,2 L 21.52284749830794,19.52284749830794 C 21.52284749830794,20.418277998646353 20.418277998646353,21.52284749830794 19.52284749830794,21.52284749830794 L 2,21.52284749830794 C 1.1045694996615871,21.52284749830794 0,20.418277998646353 0,19.52284749830794 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 3.26142374915397, 3.261423749153969)\"><path stroke=\"none\" fill=\"#0078d4\" d=\"M 14.4,3.69375 C 14.4,3.968751376 14.347917200000001,4.235415376000001 14.24375,4.49375 C 14.1395828,4.752084624 13.98750096,4.981249 13.787500000000001,5.18125 L 5.55625,13.412500000000001 L 1.6,14.4 L 2.5875000000000004,10.443750000000001 L 10.818750000000001,2.2125 C 11.01875096,2.012499 11.24791536,1.8604171840000001 11.506250000000001,1.75625 C 11.76458464,1.652082816 12.031248640000001,1.6 12.30625,1.6 C 12.59375144,1.6 12.86458208,1.655207784 13.11875,1.765625 C 13.37291792,1.876042216 13.59479072,2.02604072 13.78437504,2.215625 C 13.97395928,2.4052092800000002 14.12395776,2.627082064 14.234375040000002,2.88125 C 14.344792240000002,3.135417936 14.4,3.4062485600000003 14.4,3.69375 z M 3.6375,10.525 C 4.079168872,10.67083408 4.459373408,10.903123440000002 4.778125,11.22187504 C 5.096876592000001,11.54062656 5.329165936,11.92083112 5.4750000000000005,12.3625 L 12.231250000000001,5.6000000000000005 L 10.4,3.7687500000000003 L 3.6375,10.525 z M 2.7,13.3 L 4.7562500000000005,12.787500000000001 C 4.714583128,12.5958324 4.6468754720000005,12.41458416 4.5531250000000005,12.24375 C 4.459374528000001,12.07291584 4.345834,11.920834000000001 4.2125,11.787500000000001 C 4.079166,11.654166 3.9270841840000004,11.54062544 3.75625,11.446875040000002 C 3.585415816,11.353124560000001 3.4041676240000003,11.28541688 3.2125000000000004,11.24375 L 2.7,13.3 z M 12.8,5.03125 C 12.904167200000002,4.927082816 13.00416616,4.829167128000001 13.100000000000001,4.7375 C 13.19583384,4.645832872 13.281249600000002,4.54895884 13.356250000000001,4.446875 C 13.4312504,4.34479116 13.4906248,4.234375592 13.53437504,4.1156250000000005 C 13.5781252,3.996874408 13.600000000000001,3.858334128 13.600000000000001,3.7 C 13.600000000000001,3.5208324400000004 13.565625360000002,3.3531257840000004 13.49687504,3.1968750000000004 C 13.42812464,3.0406242160000003 13.334375600000001,2.9031255920000003 13.21562496,2.7843750000000003 C 13.096874399999999,2.6656244080000002 12.95937576,2.5718753440000004 12.80312496,2.5031250000000003 C 12.64687424,2.434374656 12.4791676,2.4000000000000004 12.3,2.4000000000000004 C 12.141665840000002,2.4000000000000004 12.0031256,2.421874784 11.884375040000002,2.465625 C 11.7656244,2.5093752160000005 11.655208880000002,2.5687496240000005 11.55312496,2.6437500000000003 C 11.45104112,2.718750376 11.35416712,2.804166184 11.262500000000001,2.9000000000000004 C 11.17083288,2.995833816 11.072917200000001,3.095832816 10.96875,3.2 L 12.8,5.03125 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 10, 36)\"><rect x=\"0\" y=\"0\" width=\"405\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"50\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 15.00003421675, 0)\"><path stroke=\"none\" fill=\"#767676\" d=\"M 1.3574375,10 C 1.3526375,11.4196125 1.5466,12.832875 1.9336875,14.19875 C 2.3242375,15.563 2.8646125,16.87975 3.5449375,18.125 L 2.5974375,18.125 C 2.192125,17.529999999999998 1.82995,16.90675 1.5136875,16.259999999999998 C 1.1948775,15.610625 0.923745,14.93875 0.70244375,14.25 C 0.48102375,13.559125000000002 0.3081025,12.853625 0.18494375000000002,12.13875 C 0.06197225,11.429100000000002 0.00007892749999999999,10.710225 -0.0000565665,9.99 C -0.00903985,8.544437499999999 0.22549,7.107675 0.69369375,5.739999999999999 C 1.16864125,4.3790000000000004 1.8079500000000002,3.0810625000000003 2.5974375,1.875 L 3.5449375,1.875 C 3.1866125,2.5774999999999997 2.8741125,3.2441625000000003 2.6074375,3.875 C 2.3440250000000002,4.4966875 2.1157500000000002,5.1327 1.9236875,5.779999999999999 C 1.7306,6.4325 1.5889125000000002,7.099124999999999 1.4999375000000001,7.773750000000001 C 1.4067374999999998,8.5122 1.3591375,9.2556875 1.3574375,10 z M 19.999875,9.989912499999999 C 19.999625,10.7097625 19.94075,11.4283875 19.823625,12.138662499999999 C 19.70825,12.8515 19.535249999999998,13.553875 19.306125,14.238625 C 19.076875,14.926124999999999 18.802875,15.598 18.486125,16.249875 C 18.171375,16.900625 17.809124999999998,17.527250000000002 17.402375,18.124875 L 16.454875,18.124875 C 17.13525,16.879625 17.675625,15.562875 18.066125,14.198625 C 18.45325,12.832875 18.64725,11.419525 18.642375,9.9999125 C 18.6405,9.050325 18.55675,8.1026625 18.392375,7.1674125 C 18.229,6.227987499999999 17.9735,5.3068875 17.629875,4.417412499999999 C 17.46325,3.98075 17.277875,3.5545 17.073625,3.1386625 C 16.8695,2.722825 16.661125000000002,2.302825 16.448625,1.8786625000000001 L 17.396125,1.8786625000000001 C 18.185875,3.0855125 18.825125,4.3843 19.299875,5.7461625000000005 C 19.7695,7.1114875 20.006249999999998,8.5460875 19.999875,9.989912499999999 z\" transform=\"matrix(1, 0, 0, 1, 0.0000565665, 0)\"/><path stroke=\"none\" fill=\"url(#GRAD5685161)\" d=\"M 11.7862625,15.40125 C 11.5406625,15.406500000000001 11.3015875,15.322 11.1137625,15.16375 C 10.937349999999999,15.01325 10.789200000000001,14.8325 10.6762625,14.63 C 10.604375,14.491375 10.546187499999998,14.346125 10.502512500000002,14.19625 C 10.4400125,14.005 10.377512499999998,13.785 10.3162625,13.5375 C 10.2550125,13.29 10.1912625,13.0375 10.1150125,12.758750000000001 C 10.0387625,12.479975000000001 9.9787625,12.214974999999999 9.9300125,11.962475 C 9.8812625,11.709975 9.8325125,11.481224999999998 9.7837625,11.267475000000001 C 9.7662625,11.194975 9.7512625,11.127475 9.7387625,11.064974999999999 C 9.6120875,11.289975000000002 9.470425,11.5333 9.3137625,11.794975 C 9.0937625,12.162474999999999 8.8512625,12.545 8.5937625,12.92 C 8.3362625,13.294999999999998 8.0687625,13.66 7.7987625000000005,13.985000000000001 C 7.5576875,14.2805 7.2921625,14.55525 7.005012499999999,14.80625 C 6.80535,14.96875 6.5886625,15.109125 6.3587625,15.225 C 6.121075,15.342875 5.8590374999999995,15.40325 5.5937625,15.40125 C 5.4413875,15.402000000000001 5.2898875,15.378375 5.1450125,15.33125 C 5.0026,15.283249999999999 4.871275,15.207125 4.7587625,15.1075 C 4.645725,15.0085 4.5531625,14.888250000000001 4.4862625000000005,14.75375 C 4.4160625,14.609749999999998 4.3805250000000004,14.451374999999999 4.3825125,14.29125 C 4.3784125000000005,14.16125 4.40005,14.031625000000002 4.446175,13.91 C 4.4922875,13.788374999999998 4.5619875,13.677125 4.6512625000000005,13.5825 C 4.742375,13.488875 4.85205,13.415375000000001 4.97325,13.36675 C 5.09445,13.318125 5.2244875,13.295375 5.355012500000001,13.3 C 5.5065125,13.299875 5.65535,13.34 5.7862625,13.416250000000002 C 5.901087499999999,13.482875 6.0120875,13.555875 6.1187625,13.635 C 6.2175125,13.70875 6.3125125,13.782499999999999 6.4050125,13.8575 C 6.4499125,13.899375000000001 6.5066625,13.926499999999999 6.5675125,13.934999999999999 C 6.630012499999999,13.934999999999999 6.7362625,13.905000000000001 6.942512499999999,13.7075 C 7.147625,13.505374999999999 7.3377125,13.2885 7.5112625,13.05875 C 7.716262499999999,12.7925 7.927512500000001,12.494975 8.1362625,12.174975 C 8.3450125,11.854975000000001 8.5512625,11.536225 8.740012499999999,11.231225 C 8.928762500000001,10.926225 9.0862625,10.654975 9.2137625,10.412475 C 9.3287625,10.191637499999999 9.4200125,10.0228875 9.487512500000001,9.906225 L 9.3150125,9.261225 C 9.253337499999999,9.033725 9.1950125,8.8033125 9.1400125,8.569975 C 9.091675,8.373312499999999 9.0395875,8.152475 8.9837625,7.907475000000001 C 8.927925,7.662475 8.8612625,7.417475 8.7837625,7.172475 C 8.7115,6.9401375 8.6133875,6.7166625 8.4912625,6.506225 C 8.3872125,6.324275 8.2498125,6.16355 8.0862625,6.032475000000001 C 7.9255875,5.915375000000001 7.7413,5.83475 7.546262500000001,5.796225000000001 C 7.3376125000000005,5.762287499999999 7.126375,5.746812500000001 6.9150125,5.749975000000001 C 6.7162625,5.749975000000001 6.5187625,5.758725 6.3200125,5.776225 L 6.1950125,5.787475 L 6.1950125,5.166225 L 9.3925125,4.597474999999999 L 9.4325125,4.641225 C 9.6633375,4.8856125 9.868175,5.1533 10.0437625,5.4399750000000004 C 10.194749999999999,5.694962500000001 10.325962500000001,5.9611625 10.4362625,6.236224999999999 C 10.54455,6.5131125 10.63515,6.796600000000001 10.7075125,7.084975 C 10.7637625,7.309975 10.826262499999999,7.544975000000001 10.8975125,7.791225000000001 C 11.049175,7.561225 11.2012625,7.327475 11.3537625,7.089974999999999 C 11.550975000000001,6.7829 11.7667875,6.4881875 12.000012499999999,6.2074750000000005 C 12.230387499999999,5.9285250000000005 12.481074999999999,5.666975 12.75,5.424975 C 13.0275,5.1743375 13.338874999999998,4.96395 13.674999999999999,4.799975 C 13.794500000000001,4.7406125 13.920250000000001,4.6949125 14.05,4.663725 C 14.177375000000001,4.631537499999999 14.307625,4.6118625 14.43875,4.604975 C 14.58425,4.6044 14.729000000000001,4.6246 14.868749999999999,4.664975 C 15.003124999999999,4.70365 15.129999999999999,4.76495 15.24375,4.8462250000000004 C 15.359499999999999,4.92715 15.4535,5.0353375 15.5175,5.161225 C 15.583,5.301887499999999 15.617875000000002,5.454825 15.620000000000001,5.609975 C 15.629625,5.745325 15.611250000000002,5.8812 15.566125,6.00915 C 15.521,6.137112500000001 15.45,6.2544 15.3575,6.353725 C 15.150375,6.532887499999999 14.88075,6.622775 14.6075,6.603725000000001 C 14.491499999999998,6.6032375 14.376249999999999,6.5864 14.265,6.553725 C 14.1575,6.522475 14.05375,6.487475 13.95375,6.449975 C 13.85375,6.412475 13.759999999999998,6.381225000000001 13.65875,6.351225 C 13.5665,6.324762499999999 13.471,6.3117125 13.375,6.312474999999999 C 13.247875,6.319 13.125374999999998,6.3624375 13.022499999999999,6.437475 C 12.865374999999998,6.5462125 12.72075,6.671975 12.59125,6.812475 C 12.43155,6.9791875 12.2805125,7.154 12.1387625,7.336225 C 11.9870875,7.5295625 11.8483375,7.7233125000000005 11.7225125,7.9174750000000005 C 11.5975125,8.111225 11.4725125,8.292475 11.375012499999999,8.463725 C 11.283762500000002,8.613725 11.2125125,8.738725 11.158762499999998,8.838725 L 12.076262499999999,12.71375 L 12.1500125,13.03625 C 12.182062499999999,13.1715 12.223837500000002,13.304375 12.275012499999999,13.43375 C 12.3193625,13.552125 12.3794875,13.663875 12.4537625,13.76625 C 12.475075,13.79875 12.50375,13.825875 12.537374999999999,13.845375 C 12.571000000000002,13.864875000000001 12.608625,13.876375000000001 12.6475,13.87875 C 12.790375000000001,13.866 12.92575,13.809249999999999 13.035,13.71625 C 13.205375,13.588750000000001 13.363624999999999,13.445625000000001 13.507499999999999,13.28875 C 13.656375,13.129249999999999 13.79025,12.9565 13.907499999999999,12.7725 C 14.02125,12.5925 14.10875,12.442475 14.168750000000001,12.322474999999999 L 14.217500000000001,12.226225 L 14.81,12.51625 L 14.758750000000001,12.615 C 14.68375,12.75825 14.584124999999998,12.925 14.459999999999999,13.115000000000002 C 14.335875,13.305 14.192875,13.50375 14.03125,13.71125 C 13.87125,13.915375000000001 13.704625,14.11575 13.53125,14.3125 C 13.358125000000001,14.511000000000001 13.165,14.691125 12.955000000000002,14.850000000000001 C 12.77225,14.990375 12.582374999999999,15.121374999999999 12.3862625,15.242500000000001 C 12.2160375,15.348875 12.019487499999999,15.405625 11.8187625,15.40625 L 11.7862625,15.40125 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"8.7550048828125\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 2.8466796875, 23.125)\">Set the</text><text x=\"0\" y=\"20.4283447265625\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 2.8466796875, 23.125)\">pipelineI...</text></g></g><path stroke=\"none\" fill=\"#107C10\" d=\"M 40.7071,7.778174999999999 C 41.0976,7.3876550000000005 41.0976,6.754485 40.7071,6.363964999999999 L 34.3431,0 C 33.9526,-0.390524 33.3195,-0.390524 32.9289,0 C 32.5384,0.3905249999999999 32.5384,1.023685 32.9289,1.414215 L 38.5858,7.071065 L 32.9289,12.727905 C 32.5384,13.118405 32.5384,13.751605 32.9289,14.142104999999999 C 33.3195,14.532705 33.9526,14.532705 34.3431,14.142104999999999 L 40.7071,7.778174999999999 z M 0,8.071064999999999 L 40,8.071064999999999 L 40,6.071065 L 0,6.071065 L 0,8.071064999999999 z\" transform=\"matrix(1, 0, 0, 1, 60, 17.9289475)\"/></g><g transform=\"matrix(1, 0, 0, 1, 110.7071, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"50\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 14.863125, 0)\"><path stroke=\"none\" fill=\"#198AB3\" d=\"M 8.1153875,11.684725 L 1.93615,17.864 C 1.4719125,18.32825 1.4719125,19.080875 1.93615,19.545125000000002 L 2.0431,19.652 C 2.5073374999999998,20.11625 3.2600125,20.11625 3.72425,19.652 L 9.903475,13.472875 C 10.3677125,13.008625 10.3677125,12.255912499999999 9.903475,11.791675 L 9.796525,11.684725 C 9.3323,11.2204875 8.5796125,11.2204875 8.1153875,11.684725 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"#50E6FF\" d=\"M 12.64875,15.25 C 16.86,15.25 20.27375,11.836175 20.27375,7.625 C 20.27375,3.4138249999999997 16.86,0 12.64875,0 C 8.437637500000001,0 5.0238000000000005,3.4138249999999997 5.0238000000000005,7.625 C 5.0238000000000005,11.836175 8.437637500000001,15.25 12.64875,15.25 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"white\" d=\"M 12.630125000000001,13.475 C 15.93425,13.475 18.612625,10.79655 18.612625,7.4925125 C 18.612625,4.1884625 15.93425,1.5100125 12.630125000000001,1.5100125 C 9.3261,1.5100125 6.6476500000000005,4.1884625 6.6476500000000005,7.4925125 C 6.6476500000000005,10.79655 9.3261,13.475 12.630125000000001,13.475 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"8.7550048828125\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 7.42919921875, 24.652)\">Lookup</text><text x=\"0\" y=\"20.4283447265625\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 7.42919921875, 24.652)\">the...</text></g></g><path stroke=\"none\" fill=\"#A80000\" d=\"M 40.7071,7.778174999999999 C 41.0976,7.3876550000000005 41.0976,6.754485 40.7071,6.363964999999999 L 34.3431,0 C 33.9526,-0.390524 33.3195,-0.390524 32.9289,0 C 32.5384,0.3905249999999999 32.5384,1.023685 32.9289,1.414215 L 38.5858,7.071065 L 32.9289,12.727905 C 32.5384,13.118405 32.5384,13.751605 32.9289,14.142104999999999 C 33.3195,14.532705 33.9526,14.532705 34.3431,14.142104999999999 L 40.7071,7.778174999999999 z M 0,8.071064999999999 L 40,8.071064999999999 L 40,6.071065 L 0,6.071065 L 0,8.071064999999999 z\" transform=\"matrix(1, 0, 0, 1, 60, 17.9289475)\"/></g><g transform=\"matrix(1, 0, 0, 1, 221.4142, 0)\"><rect x=\"0\" y=\"0\" width=\"140.22994749830792\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"50\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 15.00003421675, 0)\"><path stroke=\"none\" fill=\"#767676\" d=\"M 1.3574375,10 C 1.3526375,11.4196125 1.5466,12.832875 1.9336875,14.19875 C 2.3242375,15.563 2.8646125,16.87975 3.5449375,18.125 L 2.5974375,18.125 C 2.192125,17.529999999999998 1.82995,16.90675 1.5136875,16.259999999999998 C 1.1948775,15.610625 0.923745,14.93875 0.70244375,14.25 C 0.48102375,13.559125000000002 0.3081025,12.853625 0.18494375000000002,12.13875 C 0.06197225,11.429100000000002 0.00007892749999999999,10.710225 -0.0000565665,9.99 C -0.00903985,8.544437499999999 0.22549,7.107675 0.69369375,5.739999999999999 C 1.16864125,4.3790000000000004 1.8079500000000002,3.0810625000000003 2.5974375,1.875 L 3.5449375,1.875 C 3.1866125,2.5774999999999997 2.8741125,3.2441625000000003 2.6074375,3.875 C 2.3440250000000002,4.4966875 2.1157500000000002,5.1327 1.9236875,5.779999999999999 C 1.7306,6.4325 1.5889125000000002,7.099124999999999 1.4999375000000001,7.773750000000001 C 1.4067374999999998,8.5122 1.3591375,9.2556875 1.3574375,10 z M 19.999875,9.989912499999999 C 19.999625,10.7097625 19.94075,11.4283875 19.823625,12.138662499999999 C 19.70825,12.8515 19.535249999999998,13.553875 19.306125,14.238625 C 19.076875,14.926124999999999 18.802875,15.598 18.486125,16.249875 C 18.171375,16.900625 17.809124999999998,17.527250000000002 17.402375,18.124875 L 16.454875,18.124875 C 17.13525,16.879625 17.675625,15.562875 18.066125,14.198625 C 18.45325,12.832875 18.64725,11.419525 18.642375,9.9999125 C 18.6405,9.050325 18.55675,8.1026625 18.392375,7.1674125 C 18.229,6.227987499999999 17.9735,5.3068875 17.629875,4.417412499999999 C 17.46325,3.98075 17.277875,3.5545 17.073625,3.1386625 C 16.8695,2.722825 16.661125000000002,2.302825 16.448625,1.8786625000000001 L 17.396125,1.8786625000000001 C 18.185875,3.0855125 18.825125,4.3843 19.299875,5.7461625000000005 C 19.7695,7.1114875 20.006249999999998,8.5460875 19.999875,9.989912499999999 z\" transform=\"matrix(1, 0, 0, 1, 0.0000565665, 0)\"/><path stroke=\"none\" fill=\"url(#GRAD5685162)\" d=\"M 11.7862625,15.40125 C 11.5406625,15.406500000000001 11.3015875,15.322 11.1137625,15.16375 C 10.937349999999999,15.01325 10.789200000000001,14.8325 10.6762625,14.63 C 10.604375,14.491375 10.546187499999998,14.346125 10.502512500000002,14.19625 C 10.4400125,14.005 10.377512499999998,13.785 10.3162625,13.5375 C 10.2550125,13.29 10.1912625,13.0375 10.1150125,12.758750000000001 C 10.0387625,12.479975000000001 9.9787625,12.214974999999999 9.9300125,11.962475 C 9.8812625,11.709975 9.8325125,11.481224999999998 9.7837625,11.267475000000001 C 9.7662625,11.194975 9.7512625,11.127475 9.7387625,11.064974999999999 C 9.6120875,11.289975000000002 9.470425,11.5333 9.3137625,11.794975 C 9.0937625,12.162474999999999 8.8512625,12.545 8.5937625,12.92 C 8.3362625,13.294999999999998 8.0687625,13.66 7.7987625000000005,13.985000000000001 C 7.5576875,14.2805 7.2921625,14.55525 7.005012499999999,14.80625 C 6.80535,14.96875 6.5886625,15.109125 6.3587625,15.225 C 6.121075,15.342875 5.8590374999999995,15.40325 5.5937625,15.40125 C 5.4413875,15.402000000000001 5.2898875,15.378375 5.1450125,15.33125 C 5.0026,15.283249999999999 4.871275,15.207125 4.7587625,15.1075 C 4.645725,15.0085 4.5531625,14.888250000000001 4.4862625000000005,14.75375 C 4.4160625,14.609749999999998 4.3805250000000004,14.451374999999999 4.3825125,14.29125 C 4.3784125000000005,14.16125 4.40005,14.031625000000002 4.446175,13.91 C 4.4922875,13.788374999999998 4.5619875,13.677125 4.6512625000000005,13.5825 C 4.742375,13.488875 4.85205,13.415375000000001 4.97325,13.36675 C 5.09445,13.318125 5.2244875,13.295375 5.355012500000001,13.3 C 5.5065125,13.299875 5.65535,13.34 5.7862625,13.416250000000002 C 5.901087499999999,13.482875 6.0120875,13.555875 6.1187625,13.635 C 6.2175125,13.70875 6.3125125,13.782499999999999 6.4050125,13.8575 C 6.4499125,13.899375000000001 6.5066625,13.926499999999999 6.5675125,13.934999999999999 C 6.630012499999999,13.934999999999999 6.7362625,13.905000000000001 6.942512499999999,13.7075 C 7.147625,13.505374999999999 7.3377125,13.2885 7.5112625,13.05875 C 7.716262499999999,12.7925 7.927512500000001,12.494975 8.1362625,12.174975 C 8.3450125,11.854975000000001 8.5512625,11.536225 8.740012499999999,11.231225 C 8.928762500000001,10.926225 9.0862625,10.654975 9.2137625,10.412475 C 9.3287625,10.191637499999999 9.4200125,10.0228875 9.487512500000001,9.906225 L 9.3150125,9.261225 C 9.253337499999999,9.033725 9.1950125,8.8033125 9.1400125,8.569975 C 9.091675,8.373312499999999 9.0395875,8.152475 8.9837625,7.907475000000001 C 8.927925,7.662475 8.8612625,7.417475 8.7837625,7.172475 C 8.7115,6.9401375 8.6133875,6.7166625 8.4912625,6.506225 C 8.3872125,6.324275 8.2498125,6.16355 8.0862625,6.032475000000001 C 7.9255875,5.915375000000001 7.7413,5.83475 7.546262500000001,5.796225000000001 C 7.3376125000000005,5.762287499999999 7.126375,5.746812500000001 6.9150125,5.749975000000001 C 6.7162625,5.749975000000001 6.5187625,5.758725 6.3200125,5.776225 L 6.1950125,5.787475 L 6.1950125,5.166225 L 9.3925125,4.597474999999999 L 9.4325125,4.641225 C 9.6633375,4.8856125 9.868175,5.1533 10.0437625,5.4399750000000004 C 10.194749999999999,5.694962500000001 10.325962500000001,5.9611625 10.4362625,6.236224999999999 C 10.54455,6.5131125 10.63515,6.796600000000001 10.7075125,7.084975 C 10.7637625,7.309975 10.826262499999999,7.544975000000001 10.8975125,7.791225000000001 C 11.049175,7.561225 11.2012625,7.327475 11.3537625,7.089974999999999 C 11.550975000000001,6.7829 11.7667875,6.4881875 12.000012499999999,6.2074750000000005 C 12.230387499999999,5.9285250000000005 12.481074999999999,5.666975 12.75,5.424975 C 13.0275,5.1743375 13.338874999999998,4.96395 13.674999999999999,4.799975 C 13.794500000000001,4.7406125 13.920250000000001,4.6949125 14.05,4.663725 C 14.177375000000001,4.631537499999999 14.307625,4.6118625 14.43875,4.604975 C 14.58425,4.6044 14.729000000000001,4.6246 14.868749999999999,4.664975 C 15.003124999999999,4.70365 15.129999999999999,4.76495 15.24375,4.8462250000000004 C 15.359499999999999,4.92715 15.4535,5.0353375 15.5175,5.161225 C 15.583,5.301887499999999 15.617875000000002,5.454825 15.620000000000001,5.609975 C 15.629625,5.745325 15.611250000000002,5.8812 15.566125,6.00915 C 15.521,6.137112500000001 15.45,6.2544 15.3575,6.353725 C 15.150375,6.532887499999999 14.88075,6.622775 14.6075,6.603725000000001 C 14.491499999999998,6.6032375 14.376249999999999,6.5864 14.265,6.553725 C 14.1575,6.522475 14.05375,6.487475 13.95375,6.449975 C 13.85375,6.412475 13.759999999999998,6.381225000000001 13.65875,6.351225 C 13.5665,6.324762499999999 13.471,6.3117125 13.375,6.312474999999999 C 13.247875,6.319 13.125374999999998,6.3624375 13.022499999999999,6.437475 C 12.865374999999998,6.5462125 12.72075,6.671975 12.59125,6.812475 C 12.43155,6.9791875 12.2805125,7.154 12.1387625,7.336225 C 11.9870875,7.5295625 11.8483375,7.7233125000000005 11.7225125,7.9174750000000005 C 11.5975125,8.111225 11.4725125,8.292475 11.375012499999999,8.463725 C 11.283762500000002,8.613725 11.2125125,8.738725 11.158762499999998,8.838725 L 12.076262499999999,12.71375 L 12.1500125,13.03625 C 12.182062499999999,13.1715 12.223837500000002,13.304375 12.275012499999999,13.43375 C 12.3193625,13.552125 12.3794875,13.663875 12.4537625,13.76625 C 12.475075,13.79875 12.50375,13.825875 12.537374999999999,13.845375 C 12.571000000000002,13.864875000000001 12.608625,13.876375000000001 12.6475,13.87875 C 12.790375000000001,13.866 12.92575,13.809249999999999 13.035,13.71625 C 13.205375,13.588750000000001 13.363624999999999,13.445625000000001 13.507499999999999,13.28875 C 13.656375,13.129249999999999 13.79025,12.9565 13.907499999999999,12.7725 C 14.02125,12.5925 14.10875,12.442475 14.168750000000001,12.322474999999999 L 14.217500000000001,12.226225 L 14.81,12.51625 L 14.758750000000001,12.615 C 14.68375,12.75825 14.584124999999998,12.925 14.459999999999999,13.115000000000002 C 14.335875,13.305 14.192875,13.50375 14.03125,13.71125 C 13.87125,13.915375000000001 13.704625,14.11575 13.53125,14.3125 C 13.358125000000001,14.511000000000001 13.165,14.691125 12.955000000000002,14.850000000000001 C 12.77225,14.990375 12.582374999999999,15.121374999999999 12.3862625,15.242500000000001 C 12.2160375,15.348875 12.019487499999999,15.405625 11.8187625,15.40625 L 11.7862625,15.40125 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"8.7550048828125\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 3.75, 23.125)\">Error</text><text x=\"0\" y=\"20.4283447265625\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 3.75, 23.125)\">fetching...</text></g></g><path stroke=\"none\" fill=\"#C8C6C4\" d=\"M 40.7071,7.7781780000000005 C 41.0976,7.387648 41.0976,6.754488 40.7071,6.363958 L 34.3431,0 C 33.9526,-0.390524 33.3195,-0.390524 32.9289,0 C 32.5384,0.3905280000000001 32.5384,1.023688 32.9289,1.414218 L 38.5858,7.071068 L 32.9289,12.727968 C 32.5384,13.118468 32.5384,13.751568 32.9289,14.142168 C 33.3195,14.532668000000001 33.9526,14.532668000000001 34.3431,14.142168 L 40.7071,7.7781780000000005 z M 0,8.071068 L 40,8.071068 L 40,6.071068 L 0,6.071068 L 0,8.071068 z\" transform=\"matrix(1, 0, 0, 1, 60, 17.928916)\"/><g transform=\"matrix(1, 0, 0, 1, 110.7071, 12.23857625084603)\"><path stroke=\"transparent\" fill=\"#ffffff\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 24.52284749830794,0 C 25.418277998646353,0 26.52284749830794,1.1045694996615871 26.52284749830794,2 L 26.52284749830794,24.52284749830794 C 26.52284749830794,25.418277998646353 25.418277998646353,26.52284749830794 24.52284749830794,26.52284749830794 L 2,26.52284749830794 C 1.1045694996615871,26.52284749830794 0,25.418277998646353 0,24.52284749830794 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 3.26142374915397, 3.261423749153969)\"><path stroke=\"#0078d4\" fill=\"#0078d4\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 10,0 C 15.522847498307936,0 20,4.477152501692064 20,10 C 20,15.522847498307936 15.522847498307936,20 10,20 C 4.477152501692064,20 0,15.522847498307936 0,10 C 0,4.477152501692064 4.477152501692064,0 10,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685163)\"><text x=\"6.36328125\" y=\"16.7958984375\" style=\"font: bold 18px &quot;Segoe UI&quot;\" text-anchor=\"middle\" fill=\"white\" transform=\"matrix(1, 0, 0, 1, 4.13671875, -0.697265625)\">+</text></g></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 20, 106)\"><path stroke=\"none\" fill=\"#0078D4\" d=\"M 1,0 C 1.1406200000000002,0 1.2708300000000001,0.026040000000000063 1.3906200000000002,0.07812000000000019 C 1.5104199999999999,0.13020999999999994 1.6145800000000001,0.2031200000000002 1.7031200000000002,0.2968799999999998 C 1.7968799999999998,0.3854199999999999 1.86979,0.4895800000000001 1.9218799999999998,0.6093799999999998 C 1.97396,0.7291699999999999 2,0.8593799999999998 2,1 C 2,1.1406200000000002 1.97396,1.2708300000000001 1.9218799999999998,1.3906200000000002 C 1.86979,1.5104199999999999 1.7968799999999998,1.6171900000000008 1.7031200000000002,1.7109400000000008 C 1.6145800000000001,1.7994800000000009 1.5104199999999999,1.86979 1.3906200000000002,1.9218799999999998 C 1.2708300000000001,1.97396 1.1406200000000002,2 1,2 C 0.85938,2 0.7291700000000001,1.97396 0.60938,1.9218799999999998 C 0.4895799999999999,1.86979 0.3828100000000001,1.7994800000000009 0.2890600000000001,1.7109400000000008 C 0.20052000000000003,1.6171900000000008 0.13020999999999994,1.5104199999999999 0.07811999999999997,1.3906200000000002 C 0.026040000000000063,1.2708300000000001 0,1.1406200000000002 0,1 C 0,0.8593799999999998 0.026040000000000063,0.7291699999999999 0.07811999999999997,0.6093799999999998 C 0.13020999999999994,0.4895800000000001 0.20052000000000003,0.3854199999999999 0.2890600000000001,0.2968799999999998 C 0.3828100000000001,0.2031200000000002 0.4895799999999999,0.13020999999999994 0.60938,0.07812000000000019 C 0.7291700000000001,0.026040000000000063 0.85938,0 1,0 z M 7,0 C 7.14062,0 7.27083,0.026040000000000063 7.39062,0.07812000000000019 C 7.51042,0.13020999999999994 7.61458,0.2031200000000002 7.70312,0.2968799999999998 C 7.79688,0.3854199999999999 7.86979,0.4895800000000001 7.92188,0.6093799999999998 C 7.97396,0.7291699999999999 8,0.8593799999999998 8,1 C 8,1.1406200000000002 7.97396,1.2708300000000001 7.92188,1.3906200000000002 C 7.86979,1.5104199999999999 7.79688,1.6171900000000008 7.70312,1.7109400000000008 C 7.61458,1.7994800000000009 7.51042,1.86979 7.39062,1.9218799999999998 C 7.27083,1.97396 7.14062,2 7,2 C 6.85938,2 6.72917,1.97396 6.60938,1.9218799999999998 C 6.48958,1.86979 6.38281,1.7994800000000009 6.28906,1.7109400000000008 C 6.20052,1.6171900000000008 6.13021,1.5104199999999999 6.07812,1.3906200000000002 C 6.02604,1.2708300000000001 6,1.1406200000000002 6,1 C 6,0.8593799999999998 6.02604,0.7291699999999999 6.07812,0.6093799999999998 C 6.13021,0.4895800000000001 6.20052,0.3854199999999999 6.28906,0.2968799999999998 C 6.38281,0.2031200000000002 6.48958,0.13020999999999994 6.60938,0.07812000000000019 C 6.72917,0.026040000000000063 6.85938,0 7,0 z M 13,0 C 13.1406,0 13.2708,0.026040000000000063 13.3906,0.07812000000000019 C 13.5104,0.13020999999999994 13.6146,0.2031200000000002 13.7031,0.2968799999999998 C 13.7969,0.3854199999999999 13.8698,0.4895800000000001 13.9219,0.6093799999999998 C 13.974,0.7291699999999999 14,0.8593799999999998 14,1 C 14,1.1406200000000002 13.974,1.2708300000000001 13.9219,1.3906200000000002 C 13.8698,1.5104199999999999 13.7969,1.6171900000000008 13.7031,1.7109400000000008 C 13.6146,1.7994800000000009 13.5104,1.86979 13.3906,1.9218799999999998 C 13.2708,1.97396 13.1406,2 13,2 C 12.8594,2 12.7292,1.97396 12.6094,1.9218799999999998 C 12.4896,1.86979 12.3828,1.7994800000000009 12.2891,1.7109400000000008 C 12.2005,1.6171900000000008 12.1302,1.5104199999999999 12.0781,1.3906200000000002 C 12.026,1.2708300000000001 12,1.1406200000000002 12,1 C 12,0.8593799999999998 12.026,0.7291699999999999 12.0781,0.6093799999999998 C 12.1302,0.4895800000000001 12.2005,0.3854199999999999 12.2891,0.2968799999999998 C 12.3828,0.2031200000000002 12.4896,0.13020999999999994 12.6094,0.07812000000000019 C 12.7292,0.026040000000000063 12.8594,0 13,0 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g></g><g transform=\"matrix(1, 0, 0, 1, 10, 121)\"><rect x=\"0\" y=\"0\" width=\"430\" height=\"121\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"#d1d1d1\" fill=\"#ffffff\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 429,0 L 429,120 L 0,120 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 2.5, 17.5)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"none\" fill=\"#ffffff\" d=\"M 0,0 L 423,0 L 423,30 L 0,30 z\" transform=\"matrix(1, 0, 0, 1, 0, 2)\"/><text x=\"0\" y=\"10.814501953125\" style=\"font: normal 600 12px/16px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 2)\">False</text><g transform=\"matrix(1, 0, 0, 1, 400.47715250169205, 2)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"transparent\" fill=\"#ffffff\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 19.52284749830794,0 C 20.418277998646353,0 21.52284749830794,1.1045694996615871 21.52284749830794,2 L 21.52284749830794,19.52284749830794 C 21.52284749830794,20.418277998646353 20.418277998646353,21.52284749830794 19.52284749830794,21.52284749830794 L 2,21.52284749830794 C 1.1045694996615871,21.52284749830794 0,20.418277998646353 0,19.52284749830794 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 3.26142374915397, 3.261423749153969)\"><path stroke=\"none\" fill=\"#0078d4\" d=\"M 14.4,3.69375 C 14.4,3.968751376 14.347917200000001,4.235415376000001 14.24375,4.49375 C 14.1395828,4.752084624 13.98750096,4.981249 13.787500000000001,5.18125 L 5.55625,13.412500000000001 L 1.6,14.4 L 2.5875000000000004,10.443750000000001 L 10.818750000000001,2.2125 C 11.01875096,2.012499 11.24791536,1.8604171840000001 11.506250000000001,1.75625 C 11.76458464,1.652082816 12.031248640000001,1.6 12.30625,1.6 C 12.59375144,1.6 12.86458208,1.655207784 13.11875,1.765625 C 13.37291792,1.876042216 13.59479072,2.02604072 13.78437504,2.215625 C 13.97395928,2.4052092800000002 14.12395776,2.627082064 14.234375040000002,2.88125 C 14.344792240000002,3.135417936 14.4,3.4062485600000003 14.4,3.69375 z M 3.6375,10.525 C 4.079168872,10.67083408 4.459373408,10.903123440000002 4.778125,11.22187504 C 5.096876592000001,11.54062656 5.329165936,11.92083112 5.4750000000000005,12.3625 L 12.231250000000001,5.6000000000000005 L 10.4,3.7687500000000003 L 3.6375,10.525 z M 2.7,13.3 L 4.7562500000000005,12.787500000000001 C 4.714583128,12.5958324 4.6468754720000005,12.41458416 4.5531250000000005,12.24375 C 4.459374528000001,12.07291584 4.345834,11.920834000000001 4.2125,11.787500000000001 C 4.079166,11.654166 3.9270841840000004,11.54062544 3.75625,11.446875040000002 C 3.585415816,11.353124560000001 3.4041676240000003,11.28541688 3.2125000000000004,11.24375 L 2.7,13.3 z M 12.8,5.03125 C 12.904167200000002,4.927082816 13.00416616,4.829167128000001 13.100000000000001,4.7375 C 13.19583384,4.645832872 13.281249600000002,4.54895884 13.356250000000001,4.446875 C 13.4312504,4.34479116 13.4906248,4.234375592 13.53437504,4.1156250000000005 C 13.5781252,3.996874408 13.600000000000001,3.858334128 13.600000000000001,3.7 C 13.600000000000001,3.5208324400000004 13.565625360000002,3.3531257840000004 13.49687504,3.1968750000000004 C 13.42812464,3.0406242160000003 13.334375600000001,2.9031255920000003 13.21562496,2.7843750000000003 C 13.096874399999999,2.6656244080000002 12.95937576,2.5718753440000004 12.80312496,2.5031250000000003 C 12.64687424,2.434374656 12.4791676,2.4000000000000004 12.3,2.4000000000000004 C 12.141665840000002,2.4000000000000004 12.0031256,2.421874784 11.884375040000002,2.465625 C 11.7656244,2.5093752160000005 11.655208880000002,2.5687496240000005 11.55312496,2.6437500000000003 C 11.45104112,2.718750376 11.35416712,2.804166184 11.262500000000001,2.9000000000000004 C 11.17083288,2.995833816 11.072917200000001,3.095832816 10.96875,3.2 L 12.8,5.03125 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 10, 36)\"><rect x=\"0\" y=\"0\" width=\"405\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"140.22994749830792\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"50\" height=\"50\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 15.00003421675, 0)\"><path stroke=\"none\" fill=\"#767676\" d=\"M 1.3574375,10 C 1.3526375,11.4196125 1.5466,12.832875 1.9336875,14.19875 C 2.3242375,15.563 2.8646125,16.87975 3.5449375,18.125 L 2.5974375,18.125 C 2.192125,17.529999999999998 1.82995,16.90675 1.5136875,16.259999999999998 C 1.1948775,15.610625 0.923745,14.93875 0.70244375,14.25 C 0.48102375,13.559125000000002 0.3081025,12.853625 0.18494375000000002,12.13875 C 0.06197225,11.429100000000002 0.00007892749999999999,10.710225 -0.0000565665,9.99 C -0.00903985,8.544437499999999 0.22549,7.107675 0.69369375,5.739999999999999 C 1.16864125,4.3790000000000004 1.8079500000000002,3.0810625000000003 2.5974375,1.875 L 3.5449375,1.875 C 3.1866125,2.5774999999999997 2.8741125,3.2441625000000003 2.6074375,3.875 C 2.3440250000000002,4.4966875 2.1157500000000002,5.1327 1.9236875,5.779999999999999 C 1.7306,6.4325 1.5889125000000002,7.099124999999999 1.4999375000000001,7.773750000000001 C 1.4067374999999998,8.5122 1.3591375,9.2556875 1.3574375,10 z M 19.999875,9.989912499999999 C 19.999625,10.7097625 19.94075,11.4283875 19.823625,12.138662499999999 C 19.70825,12.8515 19.535249999999998,13.553875 19.306125,14.238625 C 19.076875,14.926124999999999 18.802875,15.598 18.486125,16.249875 C 18.171375,16.900625 17.809124999999998,17.527250000000002 17.402375,18.124875 L 16.454875,18.124875 C 17.13525,16.879625 17.675625,15.562875 18.066125,14.198625 C 18.45325,12.832875 18.64725,11.419525 18.642375,9.9999125 C 18.6405,9.050325 18.55675,8.1026625 18.392375,7.1674125 C 18.229,6.227987499999999 17.9735,5.3068875 17.629875,4.417412499999999 C 17.46325,3.98075 17.277875,3.5545 17.073625,3.1386625 C 16.8695,2.722825 16.661125000000002,2.302825 16.448625,1.8786625000000001 L 17.396125,1.8786625000000001 C 18.185875,3.0855125 18.825125,4.3843 19.299875,5.7461625000000005 C 19.7695,7.1114875 20.006249999999998,8.5460875 19.999875,9.989912499999999 z\" transform=\"matrix(1, 0, 0, 1, 0.0000565665, 0)\"/><path stroke=\"none\" fill=\"url(#GRAD5685164)\" d=\"M 11.7862625,15.40125 C 11.5406625,15.406500000000001 11.3015875,15.322 11.1137625,15.16375 C 10.937349999999999,15.01325 10.789200000000001,14.8325 10.6762625,14.63 C 10.604375,14.491375 10.546187499999998,14.346125 10.502512500000002,14.19625 C 10.4400125,14.005 10.377512499999998,13.785 10.3162625,13.5375 C 10.2550125,13.29 10.1912625,13.0375 10.1150125,12.758750000000001 C 10.0387625,12.479975000000001 9.9787625,12.214974999999999 9.9300125,11.962475 C 9.8812625,11.709975 9.8325125,11.481224999999998 9.7837625,11.267475000000001 C 9.7662625,11.194975 9.7512625,11.127475 9.7387625,11.064974999999999 C 9.6120875,11.289975000000002 9.470425,11.5333 9.3137625,11.794975 C 9.0937625,12.162474999999999 8.8512625,12.545 8.5937625,12.92 C 8.3362625,13.294999999999998 8.0687625,13.66 7.7987625000000005,13.985000000000001 C 7.5576875,14.2805 7.2921625,14.55525 7.005012499999999,14.80625 C 6.80535,14.96875 6.5886625,15.109125 6.3587625,15.225 C 6.121075,15.342875 5.8590374999999995,15.40325 5.5937625,15.40125 C 5.4413875,15.402000000000001 5.2898875,15.378375 5.1450125,15.33125 C 5.0026,15.283249999999999 4.871275,15.207125 4.7587625,15.1075 C 4.645725,15.0085 4.5531625,14.888250000000001 4.4862625000000005,14.75375 C 4.4160625,14.609749999999998 4.3805250000000004,14.451374999999999 4.3825125,14.29125 C 4.3784125000000005,14.16125 4.40005,14.031625000000002 4.446175,13.91 C 4.4922875,13.788374999999998 4.5619875,13.677125 4.6512625000000005,13.5825 C 4.742375,13.488875 4.85205,13.415375000000001 4.97325,13.36675 C 5.09445,13.318125 5.2244875,13.295375 5.355012500000001,13.3 C 5.5065125,13.299875 5.65535,13.34 5.7862625,13.416250000000002 C 5.901087499999999,13.482875 6.0120875,13.555875 6.1187625,13.635 C 6.2175125,13.70875 6.3125125,13.782499999999999 6.4050125,13.8575 C 6.4499125,13.899375000000001 6.5066625,13.926499999999999 6.5675125,13.934999999999999 C 6.630012499999999,13.934999999999999 6.7362625,13.905000000000001 6.942512499999999,13.7075 C 7.147625,13.505374999999999 7.3377125,13.2885 7.5112625,13.05875 C 7.716262499999999,12.7925 7.927512500000001,12.494975 8.1362625,12.174975 C 8.3450125,11.854975000000001 8.5512625,11.536225 8.740012499999999,11.231225 C 8.928762500000001,10.926225 9.0862625,10.654975 9.2137625,10.412475 C 9.3287625,10.191637499999999 9.4200125,10.0228875 9.487512500000001,9.906225 L 9.3150125,9.261225 C 9.253337499999999,9.033725 9.1950125,8.8033125 9.1400125,8.569975 C 9.091675,8.373312499999999 9.0395875,8.152475 8.9837625,7.907475000000001 C 8.927925,7.662475 8.8612625,7.417475 8.7837625,7.172475 C 8.7115,6.9401375 8.6133875,6.7166625 8.4912625,6.506225 C 8.3872125,6.324275 8.2498125,6.16355 8.0862625,6.032475000000001 C 7.9255875,5.915375000000001 7.7413,5.83475 7.546262500000001,5.796225000000001 C 7.3376125000000005,5.762287499999999 7.126375,5.746812500000001 6.9150125,5.749975000000001 C 6.7162625,5.749975000000001 6.5187625,5.758725 6.3200125,5.776225 L 6.1950125,5.787475 L 6.1950125,5.166225 L 9.3925125,4.597474999999999 L 9.4325125,4.641225 C 9.6633375,4.8856125 9.868175,5.1533 10.0437625,5.4399750000000004 C 10.194749999999999,5.694962500000001 10.325962500000001,5.9611625 10.4362625,6.236224999999999 C 10.54455,6.5131125 10.63515,6.796600000000001 10.7075125,7.084975 C 10.7637625,7.309975 10.826262499999999,7.544975000000001 10.8975125,7.791225000000001 C 11.049175,7.561225 11.2012625,7.327475 11.3537625,7.089974999999999 C 11.550975000000001,6.7829 11.7667875,6.4881875 12.000012499999999,6.2074750000000005 C 12.230387499999999,5.9285250000000005 12.481074999999999,5.666975 12.75,5.424975 C 13.0275,5.1743375 13.338874999999998,4.96395 13.674999999999999,4.799975 C 13.794500000000001,4.7406125 13.920250000000001,4.6949125 14.05,4.663725 C 14.177375000000001,4.631537499999999 14.307625,4.6118625 14.43875,4.604975 C 14.58425,4.6044 14.729000000000001,4.6246 14.868749999999999,4.664975 C 15.003124999999999,4.70365 15.129999999999999,4.76495 15.24375,4.8462250000000004 C 15.359499999999999,4.92715 15.4535,5.0353375 15.5175,5.161225 C 15.583,5.301887499999999 15.617875000000002,5.454825 15.620000000000001,5.609975 C 15.629625,5.745325 15.611250000000002,5.8812 15.566125,6.00915 C 15.521,6.137112500000001 15.45,6.2544 15.3575,6.353725 C 15.150375,6.532887499999999 14.88075,6.622775 14.6075,6.603725000000001 C 14.491499999999998,6.6032375 14.376249999999999,6.5864 14.265,6.553725 C 14.1575,6.522475 14.05375,6.487475 13.95375,6.449975 C 13.85375,6.412475 13.759999999999998,6.381225000000001 13.65875,6.351225 C 13.5665,6.324762499999999 13.471,6.3117125 13.375,6.312474999999999 C 13.247875,6.319 13.125374999999998,6.3624375 13.022499999999999,6.437475 C 12.865374999999998,6.5462125 12.72075,6.671975 12.59125,6.812475 C 12.43155,6.9791875 12.2805125,7.154 12.1387625,7.336225 C 11.9870875,7.5295625 11.8483375,7.7233125000000005 11.7225125,7.9174750000000005 C 11.5975125,8.111225 11.4725125,8.292475 11.375012499999999,8.463725 C 11.283762500000002,8.613725 11.2125125,8.738725 11.158762499999998,8.838725 L 12.076262499999999,12.71375 L 12.1500125,13.03625 C 12.182062499999999,13.1715 12.223837500000002,13.304375 12.275012499999999,13.43375 C 12.3193625,13.552125 12.3794875,13.663875 12.4537625,13.76625 C 12.475075,13.79875 12.50375,13.825875 12.537374999999999,13.845375 C 12.571000000000002,13.864875000000001 12.608625,13.876375000000001 12.6475,13.87875 C 12.790375000000001,13.866 12.92575,13.809249999999999 13.035,13.71625 C 13.205375,13.588750000000001 13.363624999999999,13.445625000000001 13.507499999999999,13.28875 C 13.656375,13.129249999999999 13.79025,12.9565 13.907499999999999,12.7725 C 14.02125,12.5925 14.10875,12.442475 14.168750000000001,12.322474999999999 L 14.217500000000001,12.226225 L 14.81,12.51625 L 14.758750000000001,12.615 C 14.68375,12.75825 14.584124999999998,12.925 14.459999999999999,13.115000000000002 C 14.335875,13.305 14.192875,13.50375 14.03125,13.71125 C 13.87125,13.915375000000001 13.704625,14.11575 13.53125,14.3125 C 13.358125000000001,14.511000000000001 13.165,14.691125 12.955000000000002,14.850000000000001 C 12.77225,14.990375 12.582374999999999,15.121374999999999 12.3862625,15.242500000000001 C 12.2160375,15.348875 12.019487499999999,15.405625 11.8187625,15.40625 L 11.7862625,15.40125 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"8.7550048828125\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0.751953125, 23.125)\">There is no</text><text x=\"0\" y=\"20.4283447265625\" style=\"font: normal 400 10px/14px &quot;Segoe UI&quot;\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0.751953125, 23.125)\">record...</text></g></g><path stroke=\"none\" fill=\"#C8C6C4\" d=\"M 40.7071,7.7781780000000005 C 41.0976,7.387648 41.0976,6.754488 40.7071,6.363958 L 34.3431,0 C 33.9526,-0.390524 33.3195,-0.390524 32.9289,0 C 32.5384,0.3905280000000001 32.5384,1.023688 32.9289,1.414218 L 38.5858,7.071068 L 32.9289,12.727968 C 32.5384,13.118468 32.5384,13.751568 32.9289,14.142168 C 33.3195,14.532668000000001 33.9526,14.532668000000001 34.3431,14.142168 L 40.7071,7.7781780000000005 z M 0,8.071068 L 40,8.071068 L 40,6.071068 L 0,6.071068 L 0,8.071068 z\" transform=\"matrix(1, 0, 0, 1, 60, 17.928916)\"/><g transform=\"matrix(1, 0, 0, 1, 110.7071, 12.23857625084603)\"><path stroke=\"transparent\" fill=\"#ffffff\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 24.52284749830794,0 C 25.418277998646353,0 26.52284749830794,1.1045694996615871 26.52284749830794,2 L 26.52284749830794,24.52284749830794 C 26.52284749830794,25.418277998646353 25.418277998646353,26.52284749830794 24.52284749830794,26.52284749830794 L 2,26.52284749830794 C 1.1045694996615871,26.52284749830794 0,25.418277998646353 0,24.52284749830794 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 3.26142374915397, 3.261423749153969)\"><path stroke=\"#0078d4\" fill=\"#0078d4\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 10,0 C 15.522847498307936,0 20,4.477152501692064 20,10 C 20,15.522847498307936 15.522847498307936,20 10,20 C 4.477152501692064,20 0,15.522847498307936 0,10 C 0,4.477152501692064 4.477152501692064,0 10,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685165)\"><text x=\"6.36328125\" y=\"16.7958984375\" style=\"font: bold 18px &quot;Segoe UI&quot;\" text-anchor=\"middle\" fill=\"white\" transform=\"matrix(1, 0, 0, 1, 4.13671875, -0.697265625)\">+</text></g></g></g></g></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 297)\"/></g></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 453, 133.1)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685167)\"><path stroke=\"transparent\" fill=\"transparent\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 100,0 L 100,100 L 0,100 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 1, 143.8936)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 452, 104.1)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 20)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 32)\"><g transform=\"matrix(1, 0, 0, 1, 0, 20)\"><path stroke=\"none\" fill=\"#fff\" d=\"M 0,0 L 12,0 L 12,12 L 0,12 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/><path stroke=\"none\" fill=\"#107C10\" d=\"M 0.1080000000000001,4.0649999999999995 C 0.03399999999999981,3.9859999999999998 -0.0040000000000000036,3.8819999999999997 0,3.774 C 0.0040000000000000036,3.665 0.04999999999999982,3.5650000000000004 0.1299999999999999,3.49 L 0.9649999999999999,2.718 C 1.041,2.649 1.1379999999999995,2.6109999999999998 1.2389999999999994,2.6109999999999998 C 1.3509999999999995,2.6109999999999998 1.459,2.6580000000000004 1.5349999999999997,2.74 L 3.671,5.032 L 7.478010000000001,0.15700000000000003 C 7.555010000000001,0.05799999999999983 7.671010000000001,0 7.79701,0 C 7.88701,0 7.972010000000001,0.028999999999999915 8.04401,0.08399999999999963 L 8.95001,0.7830000000000004 C 9.12301,0.9109999999999996 9.16001,1.1600000000000001 9.03001,1.3369999999999997 L 4.161999999999999,7.57 C 3.9730000000000003,7.811999999999999 3.6119999999999997,7.827999999999999 3.4019999999999997,7.603 L 0.1080000000000001,4.0649999999999995 z\" transform=\"matrix(1, 0, 0, 1, 1.4849949999999996, 2.1985)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 64)\"><g transform=\"matrix(1, 0, 0, 1, 0, 20)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 96)\"><g transform=\"matrix(1, 0, 0, 1, 0, 20)\"/></g></g></g><g transform=\"matrix(1, 0, 0, 1, 381, 420)\"><g class=\"gojs-ts\"/><g transform=\"matrix(1, 0, 0, 1, 1, 0)\"><g transform=\"matrix(1, 0, 0, 1, 194, 0)\"><g class=\"gojs-ts\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"#d1d1d1\" fill=\"transparent\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 2,0 L 191,0 C 191.89543050033842,0 193,1.1045694996615871 193,2 L 193,81.2 C 193,82.09543050033841 191.89543050033842,83.2 191,83.2 L 2,83.2 C 1.1045694996615871,83.2 0,82.09543050033841 0,81.2 L 0,2 C 0,1.1045694996615871 1.1045694996615871,0 2,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/><g transform=\"matrix(1, 0, 0, 1, 1.0000000000000058, 1.1000000000000072)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"192\" height=\"82\" fill=\"#ffffff\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><rect x=\"0\" y=\"0\" width=\"192\" height=\"27\" fill=\"#e6e6e6\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685168)\"><text x=\"0\" y=\"12.257006835937501\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 5, 6.5)\">Set variable</text></g><g transform=\"matrix(1, 0, 0, 1, 161, -3)\" clip-path=\"url(#CLIP5685169)\"><path stroke=\"transparent\" fill=\"#e6e6e6\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 1.8409491661026458,0 L 3.6818983322052947,0 C 4.506119348655733,0 5.52284749830794,1.0167281496522078 5.52284749830794,1.8409491661026458 L 5.52284749830794,3.681898332205292 C 5.52284749830794,4.50611934865573 4.506119348655733,5.522847498307938 3.6818983322052947,5.522847498307938 L 1.8409491661026458,5.522847498307938 C 1.0167281496522078,5.522847498307938 0,4.50611934865573 0,3.681898332205292 L 0,1.8409491661026458 C 0,1.0167281496522078 1.0167281496522078,0 1.8409491661026458,0 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\"/></g><g transform=\"matrix(1, 0, 0, 1, 173, 5.5)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 27)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><path stroke=\"none\" fill=\"#ffffff\" d=\"M 0,0 L 192,0 L 192,40 L 0,40 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><g transform=\"matrix(1, 0, 0, 1, 0, -22.84267578125)\" clip-path=\"url(#CLIP5685171)\"><g transform=\"matrix(1, 0, 0, 1, 10, 34.34267578125)\"><path stroke=\"none\" fill=\"#767676\" d=\"M 2.03615625,15 C 2.02895625,17.12941875 2.3199,19.2493125 2.9005312500000002,21.298125 C 3.48635625,23.3445 4.29691875,25.319625 5.31740625,27.1875 L 3.8961562499999998,27.1875 C 3.2881875000000003,26.294999999999998 2.744925,25.360125 2.27053125,24.389999999999997 C 1.79231625,23.415937500000002 1.3856175,22.408125000000002 1.053665625,21.375 C 0.721535625,20.338687500000002 0.46215375000000003,19.280437499999998 0.277415625,18.208125 C 0.092958375,17.14365 0.00011839125,16.0653375 -0.00008484975,14.985 C -0.013559775000000001,12.81665625 0.338235,10.6615125 1.040540625,8.61 C 1.752961875,6.5685 2.7119250000000004,4.621593750000001 3.8961562499999998,2.8125 L 5.31740625,2.8125 C 4.77991875,3.8662499999999995 4.31116875,4.866243750000001 3.91115625,5.8125 C 3.5160375000000004,6.74503125 3.1736250000000004,7.69905 2.88553125,8.67 C 2.5959,9.64875 2.3833687500000003,10.6486875 2.24990625,11.660625000000001 C 2.11010625,12.7683 2.03870625,13.88353125 2.03615625,15 z M 29.9998125,14.98486875 C 29.999437500000003,16.06464375 29.911125000000002,17.14258125 29.7354375,18.20799375 C 29.562375,19.27725 29.302875,20.3308125 28.959187500000002,21.357937500000002 C 28.615312499999998,22.3891875 28.204312499999997,23.397000000000002 27.7291875,24.3748125 C 27.2570625,25.3509375 26.7136875,26.290875 26.103562500000002,27.1873125 L 24.6823125,27.1873125 C 25.702875,25.3194375 26.5134375,23.3443125 27.0991875,21.2979375 C 27.679875000000003,19.2493125 27.970875,17.1292875 27.9635625,14.99986875 C 27.96075,13.5754875 27.835124999999998,12.15399375 27.588562500000002,10.75111875 C 27.3435,9.34198125 26.96025,7.96033125 26.444812499999998,6.62611875 C 26.194875,5.971125 25.9168125,5.3317499999999995 25.6104375,4.70799375 C 25.30425,4.0842374999999995 24.9916875,3.4542375 24.6729375,2.8179937500000003 L 26.0941875,2.8179937500000003 C 27.2788125,4.62826875 28.2376875,6.5764499999999995 28.9498125,8.61924375 C 29.65425,10.66723125 30.009375,12.81913125 29.9998125,14.98486875 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/><path stroke=\"none\" fill=\"url(#GRAD5685170)\" d=\"M 17.67939375,23.101875 C 17.31099375,23.109750000000002 16.952381250000002,22.983 16.67064375,22.745625 C 16.406025,22.519875 16.1838,22.24875 16.01439375,21.945 C 15.9065625,21.7370625 15.81928125,21.5191875 15.75376875,21.294375 C 15.660018749999999,21.0075 15.566268749999999,20.677500000000002 15.474393749999999,20.30625 C 15.382518750000001,19.935 15.28689375,19.55625 15.17251875,19.138125000000002 C 15.058143750000001,18.7199625 14.96814375,18.3224625 14.895018749999998,17.9437125 C 14.82189375,17.5649625 14.74876875,17.2218375 14.675643749999999,16.9012125 C 14.64939375,16.7924625 14.626893749999999,16.6912125 14.60814375,16.5974625 C 14.418131249999998,16.9349625 14.2056375,17.29995 13.97064375,17.6924625 C 13.64064375,18.243712499999997 13.27689375,18.8175 12.890643749999999,19.38 C 12.50439375,19.9425 12.10314375,20.490000000000002 11.69814375,20.977500000000003 C 11.33653125,21.42075 10.93824375,21.832874999999998 10.50751875,22.209375 C 10.208025,22.453125 9.88299375,22.6636875 9.53814375,22.8375 C 9.1816125,23.0143125 8.78855625,23.104875 8.39064375,23.101875 C 8.16208125,23.103 7.93483125,23.0675625 7.71751875,22.996875000000003 C 7.503900000000001,22.924875 7.3069125,22.8106875 7.13814375,22.66125 C 6.9685875,22.51275 6.82974375,22.332375000000003 6.72939375,22.130625000000002 C 6.62409375,21.914624999999997 6.5707875,21.677062499999998 6.573768749999999,21.436875 C 6.56761875,21.241875 6.6000749999999995,21.0474375 6.6692625,20.865000000000002 C 6.7384312500000005,20.6825625 6.842981249999999,20.515687500000002 6.97689375,20.37375 C 7.1135625,20.2333125 7.278075,20.1230625 7.459875,20.050125 C 7.641675,19.9771875 7.836731250000001,19.9430625 8.032518750000001,19.950000000000003 C 8.259768750000001,19.9498125 8.483025,20.01 8.679393750000001,20.124375 C 8.851631249999999,20.2243125 9.01813125,20.3338125 9.17814375,20.4525 C 9.32626875,20.563125 9.46876875,20.67375 9.60751875,20.78625 C 9.67486875,20.849062500000002 9.75999375,20.88975 9.851268750000001,20.9025 C 9.94501875,20.9025 10.10439375,20.8575 10.41376875,20.561249999999998 C 10.7214375,20.258062499999998 11.00656875,19.932750000000002 11.26689375,19.588124999999998 C 11.574393749999999,19.18875 11.89126875,18.7424625 12.20439375,18.262462499999998 C 12.517518749999999,17.7824625 12.82689375,17.3043375 13.11001875,16.8468375 C 13.39314375,16.3893375 13.62939375,15.9824625 13.82064375,15.6187125 C 13.99314375,15.287456249999998 14.13001875,15.03433125 14.23126875,14.859337499999999 L 13.972518749999999,13.8918375 C 13.88000625,13.5505875 13.792518750000001,13.20496875 13.71001875,12.8549625 C 13.6375125,12.55996875 13.559381250000001,12.2287125 13.47564375,11.8612125 C 13.3918875,11.493712499999999 13.29189375,11.1262125 13.175643749999999,10.758712500000001 C 13.06725,10.41020625 12.92008125,10.07499375 12.73689375,9.759337499999999 C 12.580818749999999,9.4864125 12.37471875,9.245325 12.12939375,9.0487125 C 11.88838125,8.873062500000001 11.61195,8.752125 11.319393750000001,8.694337500000001 C 11.00641875,8.643431249999999 10.689562500000001,8.620218750000001 10.37251875,8.6249625 C 10.07439375,8.6249625 9.77814375,8.638087500000001 9.48001875,8.6643375 L 9.29251875,8.681212499999999 L 9.29251875,7.749337499999999 L 14.08876875,6.8962125 L 14.14876875,6.9618375 C 14.49500625,7.32841875 14.8022625,7.72995 15.06564375,8.1599625 C 15.292124999999999,8.54244375 15.48894375,8.94174375 15.65439375,9.3543375 C 15.816824999999998,9.769668750000001 15.952725,10.1949 16.06126875,10.6274625 C 16.14564375,10.964962499999999 16.239393749999998,11.317462500000001 16.34626875,11.686837500000001 C 16.5737625,11.3418375 16.80189375,10.9912125 17.03064375,10.634962499999999 C 17.3264625,10.174349999999999 17.65018125,9.73228125 18.00001875,9.3112125 C 18.34558125,8.8927875 18.7216125,8.5004625 19.125,8.1374625 C 19.54125,7.76150625 20.0083125,7.445925 20.5125,7.199962500000001 C 20.691750000000003,7.11091875 20.880375,7.0423687500000005 21.075,6.9955875 C 21.2660625,6.94730625 21.4614375,6.91779375 21.658125000000002,6.9074625 C 21.876375000000003,6.9066 22.093500000000002,6.9369 22.303124999999998,6.9974625 C 22.5046875,7.0554749999999995 22.695,7.147425 22.865625,7.2693375 C 23.03925,7.390725 23.18025,7.55300625 23.27625,7.741837500000001 C 23.3745,7.95283125 23.4268125,8.1822375 23.43,8.414962500000001 C 23.4444375,8.6179875 23.416875,8.8218 23.3491875,9.013724999999999 C 23.2815,9.205668750000001 23.174999999999997,9.3816 23.03625,9.5305875 C 22.725562500000002,9.79933125 22.321125000000002,9.9341625 21.91125,9.905587500000001 C 21.73725,9.90485625 21.564375,9.8796 21.3975,9.8305875 C 21.236250000000002,9.7837125 21.080625,9.7312125 20.930625,9.6749625 C 20.780625,9.618712499999999 20.639999999999997,9.5718375 20.488125,9.526837500000001 C 20.34975,9.48714375 20.2065,9.46756875 20.0625,9.468712499999999 C 19.8718125,9.4785 19.688062499999997,9.54365625 19.533749999999998,9.6562125 C 19.298062499999997,9.81931875 19.081125,10.0079625 18.886875,10.2187125 C 18.647325,10.468781250000001 18.42076875,10.731 18.20814375,11.0043375 C 17.98063125,11.29434375 17.77250625,11.58496875 17.58376875,11.876212500000001 C 17.39626875,12.1668375 17.20876875,12.438712500000001 17.06251875,12.6955875 C 16.925643750000003,12.9205875 16.81876875,13.1080875 16.73814375,13.258087499999998 L 18.114393749999998,19.070625 L 18.22501875,19.554375 C 18.273093749999997,19.75725 18.335756250000003,19.9565625 18.41251875,20.150624999999998 C 18.47904375,20.3281875 18.569231249999998,20.4958125 18.68064375,20.649375 C 18.7126125,20.698125 18.755625000000002,20.7388125 18.8060625,20.7680625 C 18.8565,20.7973125 18.912937499999998,20.8145625 18.97125,20.818125 C 19.1855625,20.799 19.388625,20.713874999999998 19.552500000000002,20.574375 C 19.8080625,20.383125 20.0454375,20.168437500000003 20.261249999999997,19.933125 C 20.484562500000003,19.693875 20.685375,19.43475 20.86125,19.15875 C 21.031875,18.888749999999998 21.163125,18.6637125 21.253125,18.4837125 L 21.32625,18.3393375 L 22.215,18.774375 L 22.138125000000002,18.9225 C 22.025624999999998,19.137375 21.876187499999997,19.3875 21.689999999999998,19.672500000000003 C 21.5038125,19.9575 21.2893125,20.255625000000002 21.046875,20.566875 C 20.806874999999998,20.873062500000003 20.5569375,21.173625 20.296875,21.46875 C 20.0371875,21.7665 19.7475,22.0366875 19.4325,22.275000000000002 C 19.158375,22.4855625 18.8735625,22.682062499999997 18.57939375,22.863750000000003 C 18.32405625,23.0233125 18.02923125,23.1084375 17.72814375,23.109375 L 17.67939375,23.101875 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g><g transform=\"matrix(1, 0, 0, 1, 50, 33)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><text x=\"0\" y=\"12.257006835937501\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 0)\">Error fetching the</text><text x=\"0\" y=\"28.599682617187504\" style=\"font: 14px Segoe UI\" text-anchor=\"start\" fill=\"#242424\" transform=\"matrix(1, 0, 0, 1, 0, 0)\">data from pipelin...</text></g></g></g></g></g></g></g></g></g></g><g transform=\"matrix(1, 0, 0, 1, 197, 1.1000000000000014)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\" clip-path=\"url(#CLIP5685172)\"><path stroke=\"transparent\" fill=\"transparent\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 100,0 L 100,100 L 0,100 z\" transform=\"matrix(1, 0, 0, 1, 0.5, 0.5)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 1, 36.0376)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 196, 6.100000000000001)\"><g transform=\"matrix(1, 0, 0, 1, 0, 0)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 18)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"><path stroke=\"none\" fill=\"#fff\" d=\"M 0,0 L 12,0 L 12,12 L 0,12 z\" transform=\"matrix(1, 0, 0, 1, 0, 0)\" filter=\"drop-shadow(0px 0px 1.5px #0078dA)\"/><path stroke=\"none\" fill=\"#107C10\" d=\"M 0.1080000000000001,4.0649999999999995 C 0.03399999999999981,3.9859999999999998 -0.0040000000000000036,3.8819999999999997 0,3.774 C 0.0040000000000000036,3.665 0.04999999999999982,3.5650000000000004 0.1299999999999999,3.49 L 0.9649999999999999,2.718 C 1.041,2.649 1.1379999999999995,2.6109999999999998 1.2389999999999994,2.6109999999999998 C 1.3509999999999995,2.6109999999999998 1.459,2.6580000000000004 1.5349999999999997,2.74 L 3.671,5.032 L 7.478010000000001,0.15700000000000003 C 7.555010000000001,0.05799999999999983 7.671010000000001,0 7.79701,0 C 7.88701,0 7.972010000000001,0.028999999999999915 8.04401,0.08399999999999963 L 8.95001,0.7830000000000004 C 9.12301,0.9109999999999996 9.16001,1.1600000000000001 9.03001,1.3369999999999997 L 4.161999999999999,7.57 C 3.9730000000000003,7.811999999999999 3.6119999999999997,7.827999999999999 3.4019999999999997,7.603 L 0.1080000000000001,4.0649999999999995 z\" transform=\"matrix(1, 0, 0, 1, 1.4849949999999996, 2.1985)\"/></g></g><g transform=\"matrix(1, 0, 0, 1, 0, 36)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"/></g><g transform=\"matrix(1, 0, 0, 1, 0, 54)\"><g transform=\"matrix(1, 0, 0, 1, 0, 6)\"/></g></g></g><g transform=\"matrix(1, 0, 0, 1, 198, 163.8936)\"><path stroke=\"transparent\" fill=\"none\" stroke-width=\"20\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,282.20640000000003 L 17,282.20640000000003 Q 23,282.20640000000003 23,276.20640000000003 L 23,6 Q 23,0 29,0 L 46,0\" transform=\"matrix(1, 0, 0, 1, 10, 10)\"/><path stroke=\"#488E50\" fill=\"none\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,282.20640000000003 L 17,282.20640000000003 Q 23,282.20640000000003 23,276.20640000000003 L 23,6 Q 23,0 29,0 L 46,0\" transform=\"matrix(1, 0, 0, 1, 10, 10)\"/><path stroke=\"#488E50\" fill=\"#488E50\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 8,4.62 L 0,9.24 z\" transform=\"matrix(1, 0, 0, 1, 47.5, 5.38)\"/></g><g transform=\"matrix(1, 0, 0, 1, 198, 446.0376)\"><path stroke=\"transparent\" fill=\"none\" stroke-width=\"20\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,18.062400000000025 L 81,18.062400000000025 Q 87,18.062400000000025 87,12.062400000000025 L 87,6 Q 87,0 93,0 L 174,0\" transform=\"matrix(1, 0, 0, 1, 10, 10)\"/><path stroke=\"#D46748\" fill=\"none\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,18.062400000000025 L 81,18.062400000000025 Q 87,18.062400000000025 87,12.062400000000025 L 87,6 Q 87,0 93,0 L 174,0\" transform=\"matrix(1, 0, 0, 1, 10, 10)\"/><path stroke=\"#D46748\" fill=\"#D46748\" stroke-width=\"1\" stroke-linecap=\"butt\" stroke-linejoin=\"miter\" stroke-miterlimit=\"10\" d=\"M 0,0 L 8,4.62 L 0,9.24 z\" transform=\"matrix(1, 0, 0, 1, 175.5, 5.38)\"/></g></g><g transform=\"matrix(0.4130524576621231, 0, 0, 0.4130524576621231, 51.92069392812886, 9.673688558446923)\"/></g><clipPath id=\"mainClip5685153\"><rect x=\"0\" y=\"0\" width=\"400px\" height=\"240px\"/></clipPath><clipPath id=\"CLIP5685154\"><rect x=\"5\" y=\"6.5\" width=\"187\" height=\"20.25\"/></clipPath><clipPath id=\"CLIP5685155\"><rect x=\"142\" y=\"0\" width=\"6.522847498307954\" height=\"3.5228474983079376\" transform=\"matrix(1, 0, 0, 1, -142, 3)\"/></clipPath><clipPath id=\"CLIP5685156\"><rect x=\"0\" y=\"0\" width=\"30\" height=\"22.875\"/></clipPath><clipPath id=\"CLIP5685157\"><rect x=\"0\" y=\"0\" width=\"192\" height=\"40\" transform=\"matrix(1, 0, 0, 1, 0, 22.84267578125)\"/></clipPath><clipPath id=\"CLIP5685158\"><rect x=\"0\" y=\"0\" width=\"9\" height=\"82\"/></clipPath><clipPath id=\"CLIP5685159\"><rect x=\"142\" y=\"0\" width=\"6.522847498307954\" height=\"3.5228474983079376\" transform=\"matrix(1, 0, 0, 1, -142, 3)\"/></clipPath><clipPath id=\"CLIP5685160\"><rect x=\"0\" y=\"0\" width=\"450\" height=\"40\" transform=\"matrix(1, 0, 0, 1, 0, 6.342675781250001)\"/></clipPath><linearGradient x1=\"124.9601562\" x2=\"124.9601562\" y1=\"189.83581249999997\" y2=\"56.663879375\" id=\"GRAD5685161\" gradientUnits=\"userSpaceOnUse\"><stop offset=\"0\" stop-color=\"#0078D4\"/><stop offset=\"1\" stop-color=\"#5EA0EF\"/></linearGradient><linearGradient x1=\"124.9601562\" x2=\"124.9601562\" y1=\"189.83581249999997\" y2=\"56.663879375\" id=\"GRAD5685162\" gradientUnits=\"userSpaceOnUse\"><stop offset=\"0\" stop-color=\"#0078D4\"/><stop offset=\"1\" stop-color=\"#5EA0EF\"/></linearGradient><clipPath id=\"CLIP5685163\"><rect x=\"3.276\" y=\"3.276\" width=\"14.448\" height=\"14.448\"/></clipPath><linearGradient x1=\"124.9601562\" x2=\"124.9601562\" y1=\"189.83581249999997\" y2=\"56.663879375\" id=\"GRAD5685164\" gradientUnits=\"userSpaceOnUse\"><stop offset=\"0\" stop-color=\"#0078D4\"/><stop offset=\"1\" stop-color=\"#5EA0EF\"/></linearGradient><clipPath id=\"CLIP5685165\"><rect x=\"3.276\" y=\"3.276\" width=\"14.448\" height=\"14.448\"/></clipPath><clipPath id=\"CLIP5685166\"><rect x=\"0.6\" y=\"0.6\" width=\"448.79999999999995\" height=\"334.99999999999994\" transform=\"matrix(1, 0, 0, 1, 2.275957200481571e-14, -1.0999999999999717)\"/></clipPath><clipPath id=\"CLIP5685167\"><rect x=\"0\" y=\"0\" width=\"9\" height=\"100\"/></clipPath><clipPath id=\"CLIP5685168\"><rect x=\"5\" y=\"6.5\" width=\"187\" height=\"20.25\"/></clipPath><clipPath id=\"CLIP5685169\"><rect x=\"161\" y=\"0\" width=\"6.522847498307954\" height=\"3.5228474983079376\" transform=\"matrix(1, 0, 0, 1, -161, 3)\"/></clipPath><linearGradient x1=\"187.4402343\" x2=\"187.4402343\" y1=\"284.75371874999996\" y2=\"84.99581906249999\" id=\"GRAD5685170\" gradientUnits=\"userSpaceOnUse\"><stop offset=\"0\" stop-color=\"#0078D4\"/><stop offset=\"1\" stop-color=\"#5EA0EF\"/></linearGradient><clipPath id=\"CLIP5685171\"><rect x=\"0\" y=\"0\" width=\"192\" height=\"40\" transform=\"matrix(1, 0, 0, 1, 0, 22.84267578125)\"/></clipPath><clipPath id=\"CLIP5685172\"><rect x=\"0\" y=\"0\" width=\"9\" height=\"82\"/></clipPath></svg>","icons":["Lookup","IfCondition","SetVariable"],"requires":{"linkedservices":{"AzDataLake_staging":{"supportTypes":["AzureBlobStorage"]},"SNK_AZ_CCM_D_API_SQLSVR_UKS":{"supportTypes":["AzureSqlDatabase"]},"SRC_DMT_SQL":{"supportTypes":["SqlServer"]}}},"author":"Aasaeed@cabotcm.com","annotations":[],"services":[],"categories":[]}
